@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

/************
1. 1600px
************/

@media only screen and (max-width: 1600px)
{
	
}

/************
2. 1440px
************/

@media only screen and (max-width: 1440px)
{
	
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{
	.box
	{
		width: calc(100% / 2);
	}
	.box:not(:last-child)
	{
		border-right: none;
	}
	.box:nth-child(odd)
	{
		border-right: solid 1px #a38ccd;
	}
	.box:nth-last-child(n+3)
	{
		border-bottom: solid 1px #a38ccd;
	}
}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{
	
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
	.header_extra
	{
		width: 417px;
		height: 101px;
	}
	.header_extra_title
	{
		font-size: 36px;
	}
	.post_button
	{
		position: relative;
		margin-top: 37px;
	}
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{
	
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{
	
}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	.header_bar
	{
		display: none;
	}
	.header_extra
	{
		width: 347px;
		height: 81px;
	}
	.main_nav_list li:not(:last-child)
	{
		margin-right: 30px;
	}
	.intro_col:not(:last-child)
	{
		margin-bottom: 80px;
	}
	.post_v_small:first-child
	{
		margin-top: 41px;
	}
	.post_h_large .post_content
	{
		width: 100%;
	}
	.post_v_small .post_title a
	{
		font-size: 30px;
	}
	.contact_col:not(:last-child)
	{
		margin-bottom: 95px;
	}
}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{
	
}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{
	
}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{
	
}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
	.header_extra
	{
		display: none !important;
	}
	.main_nav,
	.header_search_container,
	.header_content_container
	{
		display: none;
	}
	.header_nav_container,
	.scrollmagic-pin-spacer
	{
		margin-top: 0 !important;
	}
	.header_nav_content .logo_container
	{
		display: block;
	}
	.hamburger
	{
		display: block;
	}
	.home_title
	{
		font-size: 52px;
	}
	.footer_nav_list li:not(:last-child)
	{
		margin-right: 0px;
		margin-bottom: 12px;
	}
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	p
	{
		font-size: 13px;
	}
	.menu
	{
		right: -100vw;
		width: 100vw;
		padding-right: 30px;
	}
	.menu_close_container
	{
		right: 30px;
	}
	.menu_extra
	{
		right: 30px;
	}
	.home_title
	{
		font-size: 24px;
	}
	.section_title
	{
		font-size: 28px;
	}
	.section_subtitle
	{
		font-size: 14px;
	}
	.section_bar
	{
		margin-top: 0;
	}
	.featured_posts
	{
		margin-top: 75px;
	}
	.home_text
	{
		font-size: 13px;
	}
	.post_title a
	{
		font-size: 24px !important;
	}
	.load_more_button,
	.post_button
	{
		width: 184px;
		height: 45px;
	}
	.load_more_button a,
	.post_button a
	{
		line-height: 45px;
		font-size: 10px;
	}
	.contact_map
	{
		height: 350px;
	}
	.footer_social_list li
	{
		width: 48px;
		height: 48px;
	}
	.footer_social_list li a i
	{
		line-height: 48px;
	}
}

/************
11. 539px
************/

@media only screen and (max-width: 539px)
{
	
}

/************
12. 480px
************/

@media only screen and (max-width: 480px)
{
	
}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{
	
}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{
	
}