{% extends  "base.html" %}
{% block title %}
<title>Fonlama|MindUni</title>
{% endblock title %}
{% block body %}
<link href="/static/js//bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<script src="/static/js//bootstrap.min.js"></script>
<script src="/static/js/jquery-3.2.1.min.js"></script>
<!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/static/pi/css/base.css">
    <link rel="stylesheet" href="/static/pi/css/vendor.css">
    <link rel="stylesheet" href="/static/css/fonlama.css">



<br>
<br>

    
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
<body>  
  
    <div class="s003">
      <form>
        <div class="inner-form">
          <div class="input-field first-wrap">
            <div class="input-select">
              <select data-trigger="" name="choices-single-defaul">
                <option placeholder="Kategori">Kategori Seçiniz</option>
                <option>Teknoloji</option>
                <option>Gelecek</option>
                <option>Yardımlaşma</option>
                <option>Ev</option>
                
              </select>
            </div>
          </div>
          <div class="input-field second-wrap">
            <input id="search" type="text" placeholder="Projeleri Arayın" />
          </div>
          <div class="input-field third-wrap">
            <button class="btn-search" type="button">
              <svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
              </svg>
            </button>
          </div>
        </div>
      </form>
    </div>
    <script src="js/extention/choices.js"></script>
    <script>
      const choices = new Choices('[data-trigger]',
      {
        searchEnabled: false,
        itemSelectText: '',
      });

    </script>
  <!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>

<script>
filterSelection("all")
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("filterDiv");
  if (c == "all") c = "";
  // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
  for (i = 0; i < x.length; i++) {
    w3RemoveClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
  }
}

// Show filtered elements
function w3AddClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {
      element.className += " " + arr2[i];
    }
  }
}

// Hide elements that are not selected
function w3RemoveClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);
    }
  }
  element.className = arr1.join(" ");
}

// Add active class to the current control button (highlight it)
var btnContainer = document.getElementById("myBtnContainer");
var btns = btnContainer.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function() {
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}
</script>




                            <div id="filtre" ><img src="/static/image/fon/filter.png"></div>
                                                        <div id="filtremobil" ><img src="/static/image/fon/filter2.png"></div>

                            <div img class="aw-zoom"  onclick="filterSelection('all')" id="hepsi" ><img src="/static/image/fon/hepsi.png" ></div>
                             <div img class="aw-zoom"  onclick="filterSelection('all')" id="hepsimobil" ><img src="/static/image/fon/hepsi2.png" ></div>

                                
                                 <div img class="aw-zoom"  onclick="filterSelection('Teknoloji')" id="tekno" ><img src="/static/image/fon/tekno.png" ></div>
                                  <div img class="aw-zoom"  onclick="filterSelection('Teknoloji')" id="teknomobil" ><img src="/static/image/fon/tekno2.png" ></div>

                                <div img class="aw-zoom"  onclick="filterSelection('Girisim')" id="girisim" ><img src="/static/image/fon/girisim.png" ></div>
                               <div img class="aw-zoom"  onclick="filterSelection('Girisim')" id="girisimmobil" ><img src="/static/image/fon/girisim2.png" ></div>

                                <div img class="aw-zoom"  onclick="filterSelection('Sosyal')" id="sosyal" ><img src="/static/image/fon/sosyal.png" ></div>
                             <div img class="aw-zoom"  onclick="filterSelection('Sosyal')" id="sosyalmobil" ><img src="/static/image/fon/sosyal2.png" ></div>


                                
  



            <br>
            <br>
<br>
<br>
            <br>
<br>
				
  





			<!-- ======= Portfolio items ===-->
			
<div id="fonyeri">                    
<div class="grid-container">
{%for pr in fons%}
<div class="filterDiv {{pr.category}}">

    <div id="arkagif" class="col-xl-6 col-m-4">
                <div class="filterDiv {{pr.category}}"  class="row">
                            
                			<div id="FonBal">{{pr.title}}</div>
                       <div id="FonBalmobil">{{pr.title}}</div>

                            <div id="Like">{{pr.like}}</div>
                              <div id="Likemobil">{{pr.like}}</div>

                            <div id="dislike">{{pr.dislike}}</div>
                        <div id="dislikemobil">{{pr.dislike}}</div>

                            <div id="foto"><img src="{{pr.image.url}}" ></div>
                          <div id="fotomobil"><img src="{{pr.image.url}}" ></div>

                         <div id="detail">{{pr.detail}}</div>
                          <div id="detailmobil">{{pr.detail}}</div>

                          <a id="kalıp" href="{{pr.id}}">

<img border="0" title="Fonlamayı İncele"

 src="/static/image/fon/Katman2.png" width="1600" height="1600">
</a>



                        <div id="değer">{{pr.güncelfon}}/{{pr.hedef}}TL</div>
                       <div id="değermobil">{{pr.güncelfon}}/{{pr.hedef}}TL</div>


<div id="hedefmobil" class="progress">
 <div  class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
                  aria-valuenow="{{pr.güncelfon}}" aria-valuemin="0" aria-valuemax="100" style="width:{{pr.oran}}%">
             
  </div>
 
      </div>     




                        <div id="hedef" class="progress">                       
                    <div  class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
                  aria-valuenow="{{pr.güncelfon}}" aria-valuemin="0" aria-valuemax="100" style="width:{{pr.oran}}%">
             
  </div>
 
      </div>     
      

            </div>
        </div>
                </div>

        
    
{% endfor %}
</div>
</div>
<!-- s-extra
    ================================================== -->


<center>    
    <section class="s-extra">

        <div class="row">

            <div class="col-seven md-six tab-full popular">
                <h3>Popüler Haberler</h3>

                <div class="block-1-2 block-m-full popular__posts">
                    <article class="col-block popular__post">
                        <a href="#0" class="popular__thumb">
                            <img src="/static/pi/images/thumbs/small/tulips-150.jpg" alt="">
                        </a>
                        <h5>Popüler Haber 1.</h5>
                        <section class="popular__meta">
                            <span class="popular__author"><span></span> <a href="#0">MindUni</a></span>
                            <span class="popular__date"><span></span> <time datetime="2018-06-14">Temmuz 14, 2018</time></span>
                        </section>
                    </article>
                    <article class="col-block popular__post">
                        <a href="#0" class="popular__thumb">
                            <img src="/static/pi/images/thumbs/small/wheel-150.jpg" alt="">
                        </a>
                        <h5><a href="#0">Popüler Haber 2.</a></h5>
                        <section class="popular__meta">
                           <span class="popular__author"><span></span> <a href="#0">MindUni</a></span>
                            <span class="popular__date"><span></span> <time datetime="2018-06-14">Temmuz 14, 2018</time></span>
                        </section>
                    </article>
                    
                </div> <!-- end popular_posts -->
            </div> <!-- end popular -->

            <div class="col-four md-six tab-full end">
                <div class="row">
                    <div class="col-six md-six mob-full categories">
                        <h3>Kategoriler</h3>
        
                        <ul class="linklist">
                            <li><a href="#0">Teknoloji</a></li>
                            <li><a href="#0">Girişim</a></li>
                            <li><a href="#0">Sosyal Yardım</a></li>
                            
                           
                        </ul>
                    </div> <!-- end categories -->
        
                    <div class="col-six md-six mob-full sitelinks">
                        <h3>Site Bağlantıları</h3>
        
                        <ul class="linklist">
                            <li><a href="/">Ana Sayfa</a></li>
                            <li><a href="/auths/profile/">Projeler</a></li>
                            <li><a href="#0">Fikirler</a></li>
                            <li><a href="#0">Bağış Sayfası</a></li>
                            <li><a href="#0">Mağaza</a></li>
                            <li><a href="#0">İletişim</a></li>
                            <li><a href="#0">Okullar/Takımlar</a></li>
                        </ul>
                    </div> <!-- end sitelinks -->
                </div>
            </div>
        </div> <!-- end row -->
    
    
    </section> <!-- end s-extra -->

</center>    

</body>




<div id="bodyalt">   
    <footer class="s-footer">

        <div class="s-footer__main">
            <div class="row">
                
                

                <div class="col-six tab-full s-footer__subscribe">
                        
                    <h4>Yeni Proje Ve Fikirlerden Haberdar Olun</h4>

                    <p>E-Mail Üzerinden Yeni Proje Ve Fikirlerden Haberdar Olmak İsterseniz Aşağıdaki Formu Doldurabilirsiniz</p>
                    <small>*İstediğiniz zaman aboneliğinizi iptal edebilirsiniz.</small>

                    <div class="subscribe-form">
                        <form id="mc-form" class="group" novalidate="true">

                            <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Addresi" required="">
                
                            <input type="submit" name="subscribe" value="Abone Ol">
                
                            <label for="mc-email" class="subscribe-message"></label>
                
                        </form>
                    </div>

                </div> <!-- end s-footer__subscribe -->

            </div>
        </div> <!-- end s-footer__main -->
</body>
        <div  class="s-footer__bottom">
        
            <div class="row">

                <div class="col-six">
                    <ul class="footer-social">
                       
                        <li>
                            <a href="#0"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#0"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#0"><i class="fab fa-youtube"></i></a>
                        </li>
                        
                    </ul>
                </div>

                <div class="col-six">
                    <div class="s-footer__copyright">
                        <span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> MindUni Bir KRC Projesidir <i class="fa fa-heart" aria-hidden="true"></i>  <a href="https://colorlib.com" target="_blank"></a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</span>
                    </div>
                </div>
                
            </div>
        </div> <!-- end s-footer__bottom -->

        <div class="go-top">
            <a class="smoothscroll" title="Back to Top" href="#top"></a>
        </div>

    </footer>
<!-- script
    ================================================== -->
    <script src="/static/pi/js/modernizr.js"></script>
<!-- Java Script
    ================================================== -->
    <script src="/static/pi/js/jquery-3.2.1.min.js"></script>
    <script src="/static/pi/js/plugins.js"></script>
    <script src="/static/pi/js/main.js"></script>



{% endblock body %}
