{% extends 'base.html' %}
{% block body %}
{% load static %}
{% block title %}
<title>Sosyal | MindUni </title>
{% endblock title %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Tech Mag template project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'haberler/styles/bootstrap-4.1.2/bootstrap.min.css' %}">
<link href="{% static 'haberler/plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'haberler/styles/category.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'haberler/styles/category_responsive.css' %}">
</head>
<br>
<br>
<br>
<br>
<br>
<br>
<body>


<div class="super_container">
	
	


	<!-- Content Container -->

	<div class="content_container">
		
		<!-- Featured Posts -->
		<div class="featured_title">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="section_title_container d-flex flex-row align-items-start justify-content-start">
							<div>
								<div class="home_title">Sosyal </div>
							<div class="breadcrumbs">
								<ul class="d-flex flex-row align-items-start justify-content-start">
									<li><a href="/">MindUni / Haberler / Sosyal</a></li>


									
								</ul>
							</div>
							</div>
							<div class="section_bar cat_world"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-9">

						<div class="posts">
														{% for sosyal in sosyal %}

							<!-- Post -->
							<div class="post_item post_h_large">
								<div class="row">
									<div class="col-lg-5">
										<div class="post_image"><img src="{{sosyal.image.url}}" alt="{{sosyal.title}}"></div>
									</div>
									<div class="col-lg-7">
										<div class="post_content">
											<div class="post_category cat_world"><a href="#">{{sosyal.category}}</a></div>
											<div class="post_title"><a href="{{sosyal.get_absolute_url}}">{{sosyal.title}}</a></div>
											<div class="post_info d-flex flex-row align-items-center justify-content-start">
												<div class="post_author d-flex flex-row align-items-center justify-content-start">
													<div><div class="post_author_image"><img src="{{sosyal.user.userprofile.get_foto}}" alt=""></div></div>
													<div class="post_author_name"><a href="/auths/{{sosyal.user}}">{{sosyal.user}}</a></div>
												</div>
												<div class="post_date"><a href="#">{{sosyal.create_at}}</a></div>
												<div class="post_comments ml-auto"><a href="#">{{sosyal.comments.count}} Adet Yorum Yapıldı</a></div>
											</div>
											<div class="post_text">
												<p>{{sosyal.ozet}}</p>
											</div>
										</div>
									</div>
								</div>	
							</div>
{% endfor %}

							
							

							

						</div>

						
					</div>

					<!-- Sidebar -->

					<div class="col-lg-3">
						<div class="sidebar">

							<!-- Latest Posts -->
						<div class="sidebar_latest">
							<div class="sidebar_title">En Son Paylaşılanlar</div>
							<div class="latest_posts">
								{% for guncel in guncel  %}
								<!-- Latest Post -->
								<div class="latest_post d-flex flex-row align-items-start justify-content-start">
									<div><div class="latest_post_image"><img src="{{guncel.haber.image.url}}" alt=""></div></div>
									<div class="latest_post_content">
										<div class="post_category_small cat_video"><a href="category.html">{{guncel.haber.category}}</a></div>
										<div class="latest_post_title"><a href="{{guncel.haber.get_absolute_url}}">{{guncel.haber.title}}</a></div>
										<div class="latest_post_date">{{guncel.haber.create_at}}</div>
									</div>
								</div>
								{% endfor %}

							</div>
						</div>

							<div class="most_viewed">
							<div class="sidebar_title">Popüler Haberler</div>
							<div class="most_viewed_items">
							{% for popiler in popiler  %}	
								<!-- Most Viewed Item -->
								<div class="most_viewed_item d-flex flex-row align-items-start justify-content-start">
<div><div class="latest_post_image"><img src="{{popiler.haber.image.url}}" alt="{{popiler.haber.title}}"></div></div>									<div class="most_viewed_content">
										<div class="post_category_small cat_video"><a href="category.html">{{popiler.haber.category}}</a></div>
										<div class="most_viewed_title"><a href="{{popiler.haber.get_absolute_url}}">{{popiler.haber.title}}</a></div>
										<div class="most_viewed_date"><a href="#">{{popiler.haber.create_at}}</a></div>
									</div>
								</div>
							{% endfor %}
								

							</div>
						</div>

							

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- s-extra
    ================================================== -->


<center>    
    <section class="s-extra">

        <div class="row">

            <div class="col-seven md-six tab-full popular">
                <h3>Popüler Haberler</h3>

                <div class="block-1-2 block-m-full popular__posts">

				{% for popiler in popiler %}
                    <article class="col-block popular__post">
                        <a href="#0" class="popular__thumb">
                            <img src="{{popiler.haber.image.url}}" alt="">
                        </a>
                        <a href="{{popiler.haber.get_absolute_url}}"><h5>{{popiler.haber.title}}</h5></a>
                        <section class="popular__meta">
                            <span class="popular__date"><span></span> <time datetime="2018-06-14">{{popiler.haber.create_at}}</time></span>
                        </section>
                    </article>
                {% endfor %}
                    
                </div> <!-- end popular_posts -->
            </div> <!-- end popular -->

            <div class="col-four md-six tab-full end">
                <div class="row">
                    <div class="col-six md-six mob-full categories">
                        <h3>Kategoriler</h3>
        
                        <ul class="linklist">
                            <li><a href="#0">Sosyal</a></li>
                            <li><a href="#0">Girişim</a></li>
                            <li><a href="#0">Sosyal Yardım</a></li>
                            
                           
                        </ul>
                    </div> <!-- end categories -->
        
                    <div class="col-six md-six mob-full sitelinks">
                        <h3>Site Bağlantıları</h3>
        
                        <ul class="linklist">
                            <li><a href="/">Ana Sayfa</a></li>
                            <li><a href="/auths/profile/">Projeler</a></li>
                            <li><a href="#0">Fikirler</a></li>
                            <li><a href="#0">Bağış Sayfası</a></li>
                            <li><a href="#0">Mağaza</a></li>
                            <li><a href="#0">İletişim</a></li>
                            <li><a href="#0">Okullar/Takımlar</a></li>
                        </ul>
                    </div> <!-- end sitelinks -->
                </div>
            </div>
        </div> <!-- end row -->
    
    
    </section> <!-- end s-extra -->

</center>    
</body>




<div id="bodyalt">   
    <footer class="s-footer">

        <div class="s-footer__main">
            <div class="row">
                
                

                <div class="col-six tab-full s-footer__subscribe">
                        
                    <h4>Yeni Proje Ve Fikirlerden Haberdar Olun</h4>

                    <p>E-Mail Üzerinden Yeni Proje Ve Fikirlerden Haberdar Olmak İsterseniz Aşağıdaki Formu Doldurabilirsiniz</p>
                    <small>*İstediğiniz zaman aboneliğinizi iptal edebilirsiniz.</small>

                    <div class="subscribe-form">
                        <form id="mc-form" class="group" novalidate="true">

                            <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Addresi" required="">
                
                            <input type="submit" name="subscribe" value="Abone Ol">
                
                            <label for="mc-email" class="subscribe-message"></label>
                
                        </form>
                    </div>


                </div> <!-- end s-footer__subscribe -->

            </div>
        </div> <!-- end s-footer__main -->
</body>
        <div  class="s-footer__bottom">
        
            <div class="row">

                <div class="col-six">
                    <ul class="footer-social">
                       
                        <li>
                            <a href="#0"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#0"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#0"><i class="fab fa-youtube"></i></a>
                        </li>
                        
                    </ul>
                </div>

                <div class="col-six">
                    <div class="s-footer__copyright">
                        <span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> MindUni Bir KRC Projesidir <i class="fa fa-heart" aria-hidden="true"></i>  <a href="https://colorlib.com" target="_blank"></a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</span>
                    </div>
                </div>
                
            </div>
        </div> <!-- end s-footer__bottom -->

        <div class="go-top">
            <a class="smoothscroll" title="Back to Top" href="#top"></a>
        </div>

    </footer>




</div>
<script src="{% static 'haberler/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'haberler/styles/bootstrap-4.1.2/popper.js' %}"></script>
<script src="{% static 'haberler/styles/bootstrap-4.1.2/bootstrap.min.js' %}"></script>
<script src="{% static 'haberler/plugins/greensock/TweenMax.min.js' %}"></script>
<script src="{% static 'haberler/plugins/greensock/TimelineMax.min.js' %}"></script>
<script src="{% static 'haberler/plugins/scrollmagic/ScrollMagic.min.js' %}"></script>
<script src="{% static 'haberler/plugins/greensock/animation.gsap.min.js' %}"></script>
<script src="{% static 'haberler/plugins/greensock/ScrollToPlugin.min.js' %}"></script>
<script src="{% static 'haberler/plugins/easing/easing.js' %}"></script>
<script src="{% static 'haberler/plugins/parallax-js-master/parallax.min.js' %}"></script>
<script src="{% static 'haberler/js/category.js' %}"></script>
</body>
</html>

{% endblock body %}
