@media (min-width: 1451px) and (max-width: 1699px) {


  .wrap-login100 {
      width: 500px;
      height: 200px;
  
      background: #cfcfcf;
      border-radius: 10px;
      overflow: hidden;
      position: relative;
      left:200px; 
        top: 250px;
    }
  
  
    .wrap-login300 {
      width: 500px;
      height: 200px;
  
      background: #cfcfcf;
      border-radius: 10px;
      overflow: hidden;
      position: relative;
      left: 200px; 
        top: 350px;
    }
  
  
  #kuponbtn {
      
  
    position: relative;
  
      left: 50px; 
        top: 30px;
    }
  
    #projectbtn {
      
  
      position: relative;
    
        left: 50px; 
          top: 30px;
      }
  
    #beşyüz {
      
  
      position: relative;
    
        left: 10px; 
          top: 30px;
      }
  
  
      #bin {
      
  
        position: relative;
      
          left: 275px; 
            top: -150px;
        }
  
        #ikibin {
      
  
          position: relative;
        
            left: 10px; 
              top: -130px;
          }
  
          #beşbin {
      
  
            position: relative;
          
              left: 275px; 
                top: -295px;
            }
  
  
    .wrap-login200 {
      width: 500px;
      height: 500px;
      background: #cfcfcf;
      border-radius: 10px;
      overflow: hidden;
      position: relative;
      left: 800px; 
        top: -150px;
    }
  }

  @media (min-width: 300px) and (max-width: 500px) {


    .wrap-login100 {
        width: 280px;
        height: 250px;
    
        background: #cfcfcf;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        left:40px; 
          top: 430px;
      }
    
    
      .wrap-login300 {
        width: 280px;
        height: 200px;
    
        background: #cfcfcf;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        left: 40px; 
          top: 480px;
      }
    
    
    #kuponbtn {
        
    
      position: relative;
    
        left: 20px; 
          top: 30px;
      }
    
      #projectbtn {
        
    
        position: relative;
      
          left: 20px; 
            top: 30px;
        }
    
      #ikibin {
        
    
        position: relative;
      width: 75px;
          left: 168px; 
            top: -75px;
        }
    
    
        #beşyüz {
        
    
          position: relative;
          width: 75px;

            left: 25px; 
              top: -10px;
          }
    
          #bin {
        
    
            position: relative;
            width: 75px;

              left: 25px; 
                top: -10px;
            }
    
            #beşbin {
        
    
              position: relative;
              width: 75px;

                left: 165px; 
                  top: -210px;
              }
    
    
      .wrap-login200 {
        width: 280px;
        height: 250px;
        background: #cfcfcf;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        left: 40px; 
          top: -320px;
      }
    }




@media (min-width: 1700px) and (max-width: 2100px) {


.wrap-login100 {
    width: 500px;
    height: 200px;

    background: #cfcfcf;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    left: 300px; 
      top: 250px;
  }


  .wrap-login300 {
    width: 500px;
    height: 200px;

    background: #cfcfcf;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    left: 300px; 
      top: 350px;
  }


#kuponbtn {
    

  position: relative;

    left: 50px; 
      top: 30px;
  }

  #projectbtn {
    

    position: relative;
  
      left: 50px; 
        top: 30px;
    }

  #beşyüz {
    

    position: relative;
  
      left: 10px; 
        top: 30px;
    }


    #bin {
    

      position: relative;
    
        left: 275px; 
          top: -150px;
      }

      #ikibin {
    

        position: relative;
      
          left: 10px; 
            top: -130px;
        }

        #beşbin {
    

          position: relative;
        
            left: 275px; 
              top: -295px;
          }


  .wrap-login200 {
    width: 500px;
    height: 500px;
    background: #cfcfcf;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    left: 1100px; 
      top: -150px;
  }
}

  .btnk{
    background-color: #cfcfcf;

    font-family: 'Nova Flat', cursive;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 13px 25px 10px 45px;
    border-radius: 0;
    position: relative;
    transition: all 0.2s ease 0s;
    z-index: 1;
}
.btnk:hover{
  background-color: #cfcfcf;

    border-color: transparent;
}
.btnk:before,
.btnk:after{
  
    content: "\f061";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    line-height: 48px;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}
.btnk:after{
    background-color: #282936;
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50px;
    position: absolute;
    top: 4px;
    left: 0;
    z-index: -1;
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}
.btnk:hover:after{
    background-color: #1f1f1f;
    width: 100%;
}
.btnk.orange:hover:after{
    background-color: #080808;
    width: 100%;
}
.btnk.blue:hover:after{
    background-color: #ffffff;
    width: 100%;
}
.btnk.magenta:hover:after{
    background-color: #ffffff;
    width: 100%;
}
@media only screen and (max-width: 767px){
    .btnk{ margin-bottom: 20px; }
}