@media (min-width: 1700px) and (max-width: 2100px) {
    #fpfoto
    { 
         left: 1050px; 
         top: 250px; 
         position: relative; 
         z-index:6;
    } 
    
    #fonuser
    { 
        position: relative; 
        font-family: Poppins-Bold;
        font-size: 30px;
        color: rgb(0, 0, 0);
        line-height: 1.2;
        left: 1160px; 
        top: 70px;
    }
    
    .wrap-login300 {
        width: 600px;
        height: 600px;
      
        background: #f8f9fa;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        left:150px; 
         top: -1400px; 
      }
    
    
    
    
    .wrap-login100 {
        width: 900px;
        height: 600px;
      
        background: #e7e7e7;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        left: 100px; 
        top: -150px;
      }
    
      .wrap-login200 {
        width: 900px;
        height: 600px;
      
        background: #e7e7e7;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        left: 70px; 
          top: -200px;
      }
    
    
    #yorumyap
    { 
         left:1200px; 
         top: -2000px; 
         
         position: relative; 
    
         z-index:6;
    } 
    
    #fotolar
    { 
         left: 00px; 
         top: 10px; 
    
         width: 800px;
         height: 600px;
         z-index:19;
         position: static;
    }



    #nava
    { 
         left: 100px; 
         top: 850px; 
         position: absolute; 
         width: 900px;
         height: 450px;
         z-index:6;
    } 
    
    
    
    #detay
    { 
         left: -71px; 
         top: -850px; 
         position: relative; 
    
         width: 200px;
         height: 150px;
         
    }
    
    
    #oran
    { 
         left: 700px; 
         top: 70px; 
         position: relative; 
         width: 1650px;
         height: 150px;
        
         
         
    }
    
    
    #baslik
    { 
        font-size: 35px;

         left: -150px; 
         top: -270px; 
         position: absolute; 
         z-index: 52;
         width: 1200px;
         height: 250px;
     
    }
    
    #oranyeri
    { 
         left: 550px; 
         top: 580px; 
         position: relative; 
         z-index: 58;
         width: 850px;
     
    }
    
    
    
    #paylas
    { 
         left: 350px; 
         top: -1800px; 
         position: relative; 
         z-index: 52;
     
    }
    

    #oranyeri
    { 
         left: 200px; 
         top: 0px; 
         position: relative; 
         z-index: 52;
     
    }

    
    #orantitle
    { 
         left: 95px; 
         top: -30px; 
         position: relative; 
        
        
         
         
    }
    
    
    
    #takip1
    { 
         left: -100px; 
         top: -345px; 
         position: relative; 
         width: 150px;
         height: 150px;	 
    }
    
    #takip1y
    {
    
      position: relative;
      font-family: Poppins-Bold;
      font-size: 20px;
      color: rgb(255, 255, 255);
      
      left: -100px;
      top: -450px;
    }
    
    #takip2y
    {
    
      position: relative;
      font-family: Poppins-Bold;
      font-size: 20px;
      color: rgb(255, 255, 255);
      
      left: 100px;
      top: -627px;
    }
    
    
    #takip2
    { 
         left: 100px; 
         top: -525px; 
         position: relative; 
         width: 150px;
         height: 150px;
        
         
         
    }
    
    
    #bioyer
    { 
         left: 00px; 
         top: -120px; 
         position: relative; 
             
    }
    
    
    
    #social
    { 
         left: 00px; 
         top: -40px; 
         position: relative; 
             
    }
    
    
    
    #fonlamalar
    { 
         left: 150px; 
         top: -1450px; 
         position: relative; 
    
         width: 200px;
         height: 150px;
         
    } 
    
    
    #yorumlar
    { 
         left: 371px; 
         top: -2050px; 
         position: relative; 
    
         width: 200px;
         height: 150px;
         
    } 
    
    #yazı
    { 
        left: 150px;
        top: 640px;
        background-color: #f3f2f2; /* Green */
        border: none;
        color: rgb(0, 0, 0);
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        
    } 
    
    #yorum
    { 
         left: 500px; 
         top: 0px; 
         position: absolute; 
         width: 200px;
         height: 150px;
         z-index:6;
    } 
    
    #destekl
    { 
         left: 250px; 
         top: 100px; 
         position: absolute; 
         width: 200px;
         height: 150px;
         z-index:6;
    } 
    
    #detayy
    { 
         left: -50px; 
         top: 0px; 
         width: 500px;
         height: 450px;
    } 
    
    
    #acord
    { 
         left: 100px; 
         top: 850px; 
         position: absolute; 
         width: 900px;
         height: 150px;
         z-index: inherit 7;;
    } 
    
    #kod
    { 
         left: 275px; 
         top: 750px; 
         position: absolute; 
         width: 150px;
         height: 150px;
         z-index:6;
    } 
    
    
    
    
    
    #fonname 
    {
        position: relative; 
        font-family: Poppins-Bold;
        font-size: 30px;
        color: rgb(58, 58, 58);
        line-height: 1.2;
        left: 270px; 
        top: 30px;
      }



}

@media (min-width: 1451px) and (max-width: 1699px) {
    #fpfoto
    { 
         left: 850px; 
         top: 50px; 
         position: relative; 
         z-index:6;
    } 
    
    #fonuser
    { 
        position: relative; 
        font-family: Poppins-Bold;
        font-size: 30px;
        color: rgb(0, 0, 0);
        line-height: 1.2;
        left: 1160px; 
        top: 70px;
    }
    
    
    
    
    #yorumyap
    { 
         left:100px; 
         top: -1800px; 
         
         position: relative; 
    
         z-index:6;
    } 
    
    #fotolar
    { 
         left: 500px; 
         top: 350px; 
    
         width: 800px;
         height: 600px;
         z-index:19;
         position: static;
    }



    #nava
    { 
         left: 100px; 
         top: 850px; 
         position: absolute; 
         width: 900px;
         height: 450px;
         z-index:6;
    } 
    
    
    
    #detay
    { 
         left: -71px; 
         top: -850px; 
         position: relative; 
    
         width: 200px;
         height: 150px;
         
    }
    
    
    #oran
    { 
         left: 700px; 
         top: 200px; 
         position: relative; 
         width: 1650px;
         height: 150px;
        
         
         
    }
    
    
    #baslik
    { 
         left: -75px; 
         top: -780px; 
         position: relative; 
         z-index: 52;
         width: 1000px;
     
    }
    
    #oranyeri
    { 
         left: 550px; 
         top: 580px; 
         position: relative; 
         z-index: 58;
         width: 850px;
     
    }
    
    
    
    #paylas
    { 
         left: 120px; 
         top: -1715px; 
         position: relative; 
         z-index: 52;
     
    }
    
    
    #orantitle
    { 
         left: 95px; 
         top: -30px; 
         position: relative; 
        
        
         
         
    }
    
    
    
    #takip1
    { 
         left: -100px; 
         top: -345px; 
         position: relative; 
         width: 150px;
         height: 150px;	 
    }
    
    #takip1y
    {
    
      position: relative;
      font-family: Poppins-Bold;
      font-size: 20px;
      color: rgb(255, 255, 255);
      
      left: -100px;
      top: -450px;
    }
    
    #takip2y
    {
    
      position: relative;
      font-family: Poppins-Bold;
      font-size: 20px;
      color: rgb(255, 255, 255);
      
      left: 100px;
      top: -627px;
    }
    
    
    #takip2
    { 
         left: 100px; 
         top: -525px; 
         position: relative; 
         width: 150px;
         height: 150px;
        
         
         
    }
    
    
    #bioyer
    { 
         left: 00px; 
         top: -120px; 
         position: relative; 
             
    }
    
    
    
    #social
    { 
         left: 00px; 
         top: -40px; 
         position: relative; 
             
    }
    
    
    
    #fonlamalar
    { 
         left: 150px; 
         top: -1450px; 
         position: relative; 
    
         width: 200px;
         height: 150px;
         
    } 
    
    
    #yorumlar
    { 
         left: 371px; 
         top: -2050px; 
         position: relative; 
    
         width: 200px;
         height: 150px;
         
    } 
    
    #yazı
    { 
        left: 150px;
        top: 500px;
        background-color: #f3f2f2; /* Green */
        border: none;
        color: rgb(0, 0, 0);
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        
    } 
    
    #yorum
    { 
         left: 500px; 
         top: 0px; 
         position: absolute; 
         width: 200px;
         height: 150px;
         z-index:6;
    } 
    
    #destekl
    { 
         left: 250px; 
         top: 100px; 
         position: absolute; 
         width: 200px;
         height: 150px;
         z-index:6;
    } 
    
    #detayy
    { 
         left: -50px; 
         top: 0px; 
         width: 500px;
         height: 450px;
    } 
    
    
    #acord
    { 
         left: 100px; 
         top: 850px; 
         position: absolute; 
         width: 900px;
         height: 150px;
         z-index: inherit 7;;
    } 
    
    #kod
    { 
         left: 275px; 
         top: 750px; 
         position: absolute; 
         width: 150px;
         height: 150px;
         z-index:6;
    } 
    
    
    
    
    
    #fonname 
    {
        position: relative; 
        font-family: Poppins-Bold;
        font-size: 30px;
        color: rgb(58, 58, 58);
        line-height: 1.2;
        left: 270px; 
        top: 30px;
      }



}

	



.progress{
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 2px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
    width: 85%;
    height: 85%;
    border-radius: 50%;
    border: 2px solid #ebebeb;
    font-size: 32px;
    line-height: 125px;
    text-align: center;
    position: absolute;
    top: 7.5%;
    left: 7.5%;
}
.progress.blue .progress-bar{
    border-color: #049dff;
}
.progress.blue .progress-value{
    color: #049dff;
}
.progress.blue .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.yellow .progress-bar{
    border-color: #000000;
}
.progress.yellow .progress-value{
    color: #000000;
}
.progress.yellow .progress-left .progress-bar{
    animation: loading-3 1s linear forwards 1.8s;
}
.progress.pink .progress-bar{
    border-color: #000000;
}
.progress.pink .progress-value{
    color: #000000;
}
.progress.pink .progress-left .progress-bar{
    animation: loading-4 0.4s linear forwards 1.8s;
}
.progress.green .progress-bar{
    border-color: #1abc9c;
}
.progress.green .progress-value{
    color: #1abc9c;
}
.progress.green .progress-left .progress-bar{
    animation: loading-5 1.2s linear forwards 1.8s;
}
@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
}



.btna{
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5px 35px;
    border: 2px solid #273131;
    border-radius: 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.5s;
}
.btna:hover{
    color: #fff;
    animation: swoosh 0.4s ease-out 0.2s;
}


#myBar {
    width: 10%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
  }
.btna:before,
.btna:after{
    content: "";
    background-color: #000000;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -1;
    transition: all 0.4s ease-out 0.1s;
}
.btna:after{
    opacity: 0;
    transform: scale(0.9,0.7);
    left: 0;
    transition: all 0.3s ease-out 0s;
}
.btna:hover:before{ left: 100%; }
.btna:hover:after{
    opacity: 0.3;
    transform: scale(1);
}




.btng{
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5px 35px;
    border: 2px solid #00d8d6;
    border-radius: 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.5s;
}
.btng:hover{
    color: #fff;
    animation: swoosh 0.4s ease-out 0.2s;
}
.btng:before,
.btng:after{
    content: "";
    background-color: #00d8d6;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -1;
    transition: all 0.4s ease-out 0.1s;
}
.btng:after{
    opacity: 0;
    transform: scale(0.9,0.7);
    left: 0;
    transition: all 0.3s ease-out 0s;
}
.btng:hover:before{ left: 100%; }
.btng:hover:after{
    opacity: 0.3;
    transform: scale(1);
}
@keyframes swoosh{
    0%,100%{ box-shadow: 0 0 0 0 transparent; }
    50%{ box-shadow: 0 0 0 8px rgba(0,214,216,0.3); }
}
@media only screen and (max-width: 767px){
    .btn{ margin-bottom: 20px; }
}



  .list-group-item {
    width: 100%;
    text-align: start;
}



.our-team{
    border: 2px solid #000000;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    z-index: 1;
    position: relative;
}
.our-team:before,
.our-team:after{
    content: "";
    width: 100%;
    height: 104%;
    background: #e9e9ea;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    transform: translateY(-50%) scaleX(0.3);
    transition: all 0.3s ease 0s;
}
.our-team:after{
    width: 106%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(0.25);
}
.our-team:hover:before{ transform: translateY(-50%) scaleX(0.7); }
.our-team:hover:after{ transform: translate(-50%, -50%) scaleY(0.7); }
.our-team img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
}


.floating-wpp {
    position: fixed;
    bottom: 15px;
    left: 15px;
    font-size: 14px;
    transition: bottom 0.2s;
}

.floating-wpp .floating-wpp-button {
    position: relative;
    border-radius: 50%;
    box-shadow: 1px 1px 4px rgba(60, 60, 60, 0.4);
    transition: box-shadow 0.2s;
    cursor: pointer;
    overflow: hidden;
}

.floating-wpp .floating-wpp-button img,
.floating-wpp .floating-wpp-button svg {
    position: absolute;
    width: 100%;
    height: auto;
    object-fit: cover;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 50%;
}

.floating-wpp:hover {
    bottom: 17px;
}

.floating-wpp:hover .floating-wpp-button {
    box-shadow: 1px 2px 8px rgba(60, 60, 60, 0.4);
}

.floating-wpp .floating-wpp-popup {
    /*border: 2px solid white;*/
    border-radius: 6px;
    background-color: #E5DDD5;
    position: absolute;
    overflow: hidden;
    padding: 0;
    box-shadow: 1px 2px 8px rgba(60, 60, 60, 0.25);
    width: 0px;
    height: 0px;
    bottom: 0;
    opacity: 0;
    transition: bottom 0.1s ease-out, opacity 0.2s ease-out;
    transform-origin: bottom;
}

.floating-wpp .floating-wpp-popup.active {
    padding: 0 12px 12px 12px;
    width: 260px;
    height: auto;
    bottom: 82px;
    opacity: 1;
}

.floating-wpp .floating-wpp-popup .floating-wpp-message {
    background-color: white;
    padding: 8px;
    border-radius: 0px 5px 5px 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    opacity: 0;
    transition: opacity 0.2s;
}

.floating-wpp .floating-wpp-popup.active .floating-wpp-message {
    opacity: 1;
    transition-delay: 0.2s;
}

.floating-wpp .floating-wpp-popup .floating-wpp-head {
    text-align: right;
    color: white;
    margin: 0 -15px 10px -15px;
    padding: 6px 12px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.floating-wpp .floating-wpp-input-message {
    background-color: white;
    margin: 10px -15px -15px -15px;
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.floating-wpp .floating-wpp-input-message textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
    padding: 8px;
    margin: 10px 0;
    width: 100%;
    max-width: 100%;
    font-family: inherit;
    font-size: inherit;
    resize: none;
}

.floating-wpp .floating-wpp-btn-send {
    margin-left: 12px;
    font-size: 0;
    cursor: pointer;
}


.our-team .team-content{
    width: 350px;
    height: 450px;
    padding: 5px 0 2px;
    background: #e9e9ea;
    position: absolute;
    bottom: 50px;
    left: 50%;
    top: 110%;
    opacity: 0;
    -webkit-clip-path: polygon(0% 5%, 5% 5%, 5% 0%, 95% 0%, 95% 5%, 100% 5%, 100% 95%, 95% 95%, 95% 100%, 5% 100%, 5% 95%, 0% 95%);
    clip-path: polygon(0% 5%, 5% 5%, 5% 0%, 95% 0%, 95% 5%, 100% 5%, 100% 95%, 95% 95%, 95% 100%, 5% 100%, 5% 95%, 0% 95%);
    transform: translateX(-50%);
    transition: all 0.3s cubic-bezier(0.5, 0.2,0.1,0.9);
}
.our-team:hover .team-content{
    bottom: 10px;
    opacity: 1;
}
.our-team .title{
    font-size: 25px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0;
}
.our-team .post{
    display: block;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    margin-bottom: 10px;
}


.our-team .bio{
    display: block;
    font-size: 14px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    margin-bottom: 10px;
}

#git
{ 
	 left: 82px; 
	 top: -397px; 
	 position: relative; 
     width: 550px;
     height: 550px;
} 

.our-team .takip{
    display: block;
    font-size: 14px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.our-team .mail{
    display: block;
    font-size: 14px;
    color: rgb(0, 0, 0)29, 28, 28);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.our-team .social{
    top: 250px;
    padding: 0;
    margin: 0;
    list-style: none;
}
.our-team .social li{
    
    display: inline-block;
    margin: 0 5px;
}
.our-team .social li a{
    
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    background: #fff;
    font-size: 20px;
    color: #000000;
    transition: all 0.3s ease 0s;
}
.our-team .social li a:hover{
    top: 250px;

    background: linear-gradient(to bottom,#ff3232, darkred);
    box-shadow: 0 0 0 5px rgba(255,255,255,0.3);
    color: #fff;
}
@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
}
.progress-title{
    font-size: 24px;
    font-weight: 10px;
    color: #333;
    text-transform: uppercase;
    margin: 0 0 25px;
}
.progress{
    height: 30px;
    width: 250px;
    background: #e9e9ea;
    border-radius: 15px;
    margin-bottom: 30px;
    overflow: visible;
    position: relative;
}
.progress:before,
.progress:after{
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: -5px;
    left: -25px;
    z-index: 1;
}
.progress:after{
    border: 7px solid #e9e9ea;
    left: auto;
    right: 0;
}
.progress .progress-bar{
    box-shadow: none;
    border: none;
    border-radius: 15px;
    position: relative;
    -webkit-animation: animate-positive 1s;
    animation: animate-positive 1s;
}
.progress .progress-value{
    width: 120px;
    height: 50px;
    line-height: 27px;
    border-radius: 20px;
    background: #fff;
    font-size: 24px;
    font-weight: 600;
    position: absolute;
    top: -7px;
    left: -35px;
    z-index: 2;
}
.progress.orange:before{ border: 7px solid #000000; }
.progress.blue:before{ border: 7px solid #1a4966; }
.progress.green:before{ border: 7px solid #53aa2c; }
.progress.purple:before{ border: 7px solid #66406f; }
.progress.orange .progress-value{
    border: 5px solid #000000;
    color: #000000;
}
.progress.blue .progress-value{
    border: 5px solid #1a4966;
    color: #1a4966;
}
.progress.green .progress-value{
    border: 5px solid #53aa2c;
    color: #53aa2c;
}
.progress.purple .progress-value{
    border: 5px solid #66406f;
    color: #66406f;
}
@-webkit-keyframes animate-positive{
    0%{ width: 0; }
}
@keyframes animate-positive{
    0%{ width: 0; }
}



  .btnr{
    color: #000000;
    text-transform: uppercase;
    border-radius: 0;
	font-size: 32px;
    border-left: 3px solid #000000;
    border-right: 3px solid #000000;
    border-top: none;
    border-bottom: none;
    text-align: center;
    z-index: 1;
    position: relative;
    transition: all 0.3s ease 0s;
    width: 200px;
    height: 50px;
}
.btnr:before,
.btnr:after{
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease 0s;
}
.btnr:after{
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
}
.btnr:hover:before,
.btnr:hover:after{
    width: 100%;
}
.btnr.red:hover{
    color: #000000;
    border-left: 3px solid #000000;
    border-right: 3px solid #000000;
}
.btnr.red:before,
.btnr.red:after{
    background: #000000;
}
@media only screen and (max-width: 767px){
    .btnr{ margin-bottom: 20px; }
}





