 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1366px;
	 height: 768px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #ekil3 
{ 
	 left: 0px; 
	 top: 12px; 
	 position: absolute; 
	 width: 1384px;
	 height: 243px;
	 z-index:1;
} 

 #profile 
{ 
	 left: 1262px; 
	 top: 12px; 
	 position: absolute; 
	 width: 86px;
	 height: 82px;
	 z-index:2;
} 

 #Katman1 
{ 
	 left: 618px; 
	 top: 0px; 
	 position: absolute; 
	 width: 172px;
	 height: 139px;
	 z-index:3;
} 
