

 #Katman2 
{ 
	 left: 1003px; 
	 top: -160px; 
	 position: absolute; 
	 width: 69px;
	 height: 68px;
	 z-index:4;
} 

 #Katman11 
{ 
	 left: 469px; 
	 top: 114px; 
	 position: absolute; 
	 width: 434px;
	 height: 107px;
	 z-index:2;
} 

 #Katman10 
{ 
	 left: 220px; 
	 top: -160px; 
	 position: absolute; 
	 width: 853px;
	 height: 266px;
	 z-index:3;
} 
