@media (min-width: 1451px) and (max-width: 1699px) {
  .tamamlabtn
   {
     position: absolute;
     left: 0;
     right: 0;
     width: 250px;
     height: 34px;
     background: #0aa3a8;
     border-radius: 3px;
     color: #FFFFFF;
     text-transform: uppercase;
     font-size: 25px;
     font-weight: 600;
     border: none;
     outline: none;
     cursor: pointer;
     z-index: 230;
   }

   #ayarçek2
   {
      position: relative;
    height: 15px;
      top: 1000px;
      z-index: 0;
     
   }

   #biog
   {
     top: 400px;
     left: 30px;
     height: 150px;
     position: absolute;
  
   }
#dnme
{
   position: absolute;
   top: 650px;
   left: 0px;
   width: 1600px;
}

#lptpayr
{
   position: absolute;
   width: 1600px;
   left: 00px;
   top: 1175px;
}
   #kendiayar
   {
      position: absolute;
   
      left: 100px;
      top: 875px;
   }
   .wrap-login100 {
      width: 550px;
      height: 750px;
      background: rgb(184, 184, 184);
      border-radius: 10px;
      overflow: hidden;
      position: relative;
      left: 820px; 
      top: -1830px;
    }
    .login100-form-title {
      width: 100%;
      position: relative;
      z-index: 1;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
    
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      
      padding: 150px 80px 150px 220px;
      
    }  
  
  #ayaryeri
     {
        width: 250px;
        position: relative;
        background-color: ;
        left: -70;
        top: -100px;
     }
  
  
  #p2
  {
     position: relative;
  
     left: 31%;
     top: -275px;
  }
    
  #p2y
  {
     position: relative;
  
     left: 65px;
     top: 43px;
  }

  #p1y
  {
     position: relative;
  
     left: -75px;
     top: 75px;
  }
  
  #id_fallow_control
  {
  height: -0px;
  
  }
  
  

  
  
  #id_submit
  {
      
      left: 75px;
      top: 150px;
      background-color: #1d1b1b; /* Green */
      border: none;
      color: white;
      padding: 2px 8px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 8px;
      border-radius: 8px;
    
  
  
  }
  
  #takipet
  {
     position: relative;
  
     left: -0px;
     top: -260px;
  }
  
  #takip1y
  {
  
    position: relative;
    font-family: Poppins-Bold;
    font-size: 20px;
    color: rgb(255, 255, 255);
    
    left: -60px;
    top: -165px;
  }
  
  
  #takip1yq
  {
  
    position: relative;
    font-family: Poppins-Bold;
    font-size: 20px;
    color: rgb(255, 255, 255);
    
    left: -58px;
    top: -95px;
  }
  
  
  #takip2y
  {
  
    position: relative;
    font-family: Poppins-Bold;
    font-size: 20px;
    color: rgb(255, 255, 255);
    
    left: 60px;
    top: -330px;
  }
  
  
  #takip2yq
  {
  
    position: relative;
    font-family: Poppins-Bold;
    font-size: 20px;
    color: rgb(255, 255, 255);
    
    left: 60px;
    top: -255px;
  }
  
  #takip1
  {
     position: relative;
  
     left: -60px;
     top: -75px;
     width: 150px;
     height: 125px;
  }
  
  
  
  #takip1q
  {
     position: relative;
  
     left: -60px;
     top: -5px;
     width: 150px;
     height: 125px;
  }
  
  #takip2
  {
     position: relative;
  
     left: 60px;
     top: -240px;
     width: 150px;
     height: 125px;
  }
  
  
  #takip2q
  {
     position: relative;
  
     left: 60px;
     top: -168px;
     width: 150px;
     height: 125px;
  }
  
  #takipetbtn
  {
     position: relative;
  
     left: -45px;
     top: 32px;
     z-index: 0;
     height: 30px;
  }
  
  
  #donateyap
  {
    position: relative;
  
    left: 250;
    top: -800px;
  }
  
  #kart
  {
    position: relative;
  
    left: 200;
    top: -920px;
  }
  
  #p1
  {
     position: relative;
  
     left: -70;
     top: -243px;
  }
  
  #p3
  {
     position: relative;
  
     left: 0%;
     top: 22px;
  }
  #bank
  {
     position: absolute;
  
     left: 600px;
     top: 200px;
  }
  
  
  #bankrq
  {
     position: absolute;
  
     left: 600px;
     top: 250px;
  }
  
  
  #mtn
  {
  
    
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
   
    
    
  }
  
  #by
  {
     position: relative;
  
     left: 30%;
     top: 0px;
  }
  
  
  #post
{
   position: relative;

   left: 250px;
   top: -1000px;
  }
  
  
  
    #postrq
  {
     position: relative;
  
     left: 0px;
     top: 00px;
    }
  
  
  .single-blog-item {
    border: 1px solid #aa1a1a;
    box-shadow: 2px 5px 10px #e94141;
    margin: 15px auto;
    padding: 5px;
    position: relative;
  }
  .blog-content {
    padding: 15px;
  }
  .blog-content h4 {
    font-size: 16px;
    font-weight: 50;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  .blog-content h4 a{
     color:#777;
     }
  .blog-content p{
    color: #999;
    font-size: 14px;
    font-weight: 30;
    line-height: 1.3333;
  }
  .blog-date{
     }
  .blog-date {
      position: absolute;
       background: #337ab7;
      top: 35px;
      left: 5px;
      color: #fff;
      border-radius: 0 25px 25px 0;
      padding: 5px 15px;
      font-weight: 700;
  }
  .more-btn {
    background: #337ab7;
    border-radius: 2px;
    display: block;
    height: 30px;
    line-height: 30px;
    margin: 30px auto auto auto;
    text-align: center;
    width: 80px;
    color: #f1f1f1;
  }

#profilayarı {
    font-family: Poppins-Bold;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    left: -490; 
    top: -1500px;
  }
}















@media (min-width: 365px) and (max-width: 380px) {
   .tamamlabtn
    {
      position: absolute;
      left: 0;
      right: 0;
      width: 250px;
      height: 34px;
      background: #0aa3a8;
      border-radius: 3px;
      color: #FFFFFF;
      text-transform: uppercase;
      font-size: 25px;
      font-weight: 600;
      border: none;
      outline: none;
      cursor: pointer;
      z-index: 230;
    }
 
    #ayaryeri
    {
       width: 250px;
       position: relative;
       background-color: ;
       left: -70;
       top: -100px;
    }
 
 
 #p2
 {
    position: relative;
 
    left: 31%;
    top: -275px;
 }



   
 #p2y
 {
    position: relative;
 
    left: 80px;
    top: -12px;
 }
 

 #proayar
 {
   height: 480px;
   width: auto;
   position: relative;

    
 }

 #socialayar
 {
   height: 150px;
   width: 150px;
   top: 0px;
   left: 180px;
   position: absolute;

    
 }

 
 #socialbuttonset
 {
   height: 20px;
   width: 20px;
   

    
 }

 #bioyaziset
 {
   height: 20px;
   width: 175px;
   

    
 }


 #ayarçek2
 {
    position: absolute;
 
    left: 00px;
    top: 4000px;
   
 }

 #biog
 {
   top: 360px;
   left: 0px;
   height: 200px;
   width: 150px;
   position: absolute;

 }
 
 
 
 #p1y
 {
    position: relative;
 
    left: -85px;
    top: 20px;
 }
 
 #id_fallow_control
 {
 height: -0px;
 
 }
 
 
 
 
 
 #id_submit
 {
     
     left: 75px;
     top: 150px;
     background-color: #1d1b1b; /* Green */
     border: none;
     color: white;
     padding: 2px 8px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 8px;
     border-radius: 8px;
   
 
 
 }
 
 #takipet
 {
    position: relative;
 
    left: -0px;
    top: -300px;
   
 }
 
 #takip1y
 {
 
   position: relative;
   font-family: Poppins-Bold;
   font-size: 20px;
   color: rgb(255, 255, 255);
   
   left: -83px;
   top: -125px;
 }
 
 
 #takip1yq
 {
 
   position: relative;
   font-family: Poppins-Bold;
   font-size: 20px;
   color: rgb(255, 255, 255);
   
   left: -58px;
   top: -95px;
 }
 
 
 #takip2y
 {
 
   position: relative;
   font-family: Poppins-Bold;
   font-size: 20px;
   color: rgb(255, 255, 255);
   
   left: 80px;
   top: -290px;
 }
 
 
 #takip2yq
 {
 
   position: relative;
   font-family: Poppins-Bold;
   font-size: 20px;
   color: rgb(255, 255, 255);
   
   left: 60px;
   top: -255px;
 }
 
 #takip1
 {
    position: relative;
 
    left: -90px;
    top: -35px;
    width: 150px;
    height: 125px;
 }
 
 
 
 #takip1q
 {
    position: relative;
 
    left: -60px;
    top: -5px;
    width: 150px;
    height: 125px;
 }
 
 #takip2
 {
    position: relative;
 
    left: 80px;
    top: -200px;
    width: 150px;
    height: 125px;
 }
 
 
 #takip2q
 {
    position: relative;
 
    left: 60px;
    top: -168px;
    width: 150px;
    height: 125px;
 }
 
 #takipetbtn
 {
    position: relative;
 
    left: -45px;
    top: 32px;
    z-index: 0;
    height: 30px;
 }
 
 
 #donateyap
 {
   position: relative;
 
   left: 250;
   top: -800px;
 }
 
 #kart
 {
   position: relative;
 
   left: 200;
   top: -920px;
 }
 
 #p1
 {
    position: relative;
 
    left: -70;
    top: -243px;
 }
 
 #p3
 {
    position: relative;
 
    left: 0%;
    top: 22px;
 }
 #bank
 {
    position: absolute;
 
    left: 0px;
    top: 825px;
 }
 

 #kendibioayar
 {
    position: absolute;
 
    left: 0px;
    top: 300px;
 }

 #kendiayar
 {
    position: absolute;
 
    left: 110px;
    top: 600px;
 }

 #socialbuttonset2
 {
    position: absolute;
 
    left: 230px;
    top: 300px;
 }

 #bankyazi
 {
   color: rgb(0, 0, 0);,

 }

 #bankrq
 {
    position: absolute;
    left: 00px;
    top: 880px;
 }
 
 
 #mtn
 {
 
   
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
  
   
   
 }
 
 #by
 {
    position: relative;
 
    left: 80px;
    top: 0px;
 }
 
 
 #post
 {
    position: absolute;
 
    left: auto;
    top: auto;
   }
 
   #dyeri
   {
      visibility: hidden;
     }
 
   #postrq
   {
      position: absolute;
   
      left: 00px;
      top: 1100px;
     }
 
 
 .single-blog-item {
   border: 1px solid #aa1a1a;
   box-shadow: 2px 5px 10px #e94141;
   margin: 15px auto;
   padding: 5px;
   position: relative;
 }
 .blog-content {
   padding: 15px;
 }
 .blog-content h4 {
   font-size: 16px;
   font-weight: 50;
   margin-bottom: 10px;
   text-transform: uppercase;
 }
 .blog-content h4 a{
    color:#777;
    }
 .blog-content p{
   color: #999;
   font-size: 14px;
   font-weight: 30;
   line-height: 1.3333;
 }
 .blog-date{
    }
 .blog-date {
     position: absolute;
      background: #337ab7;
     top: 35px;
     left: 5px;
     color: #fff;
     border-radius: 0 25px 25px 0;
     padding: 5px 15px;
     font-weight: 700;
 }
 .more-btn {
   background: #337ab7;
   border-radius: 2px;
   display: block;
   height: 30px;
   line-height: 30px;
   margin: 30px auto auto auto;
   text-align: center;
   width: 80px;
   color: #f1f1f1;
 }



 #profilayarı {
     font-family: Poppins-Bold;
     font-size: 30px;
     color: rgb(255, 255, 255);
     text-transform: uppercase;
     line-height: 1.2;
     text-align: center;
     left: -490; 
     top: -1500px;
   }
 
  
 
 
 }

   
 @media (min-width: 355px) and (max-width: 364px) {
   .tamamlabtn
    {
      position: absolute;
      left: 0;
      right: 0;
      width: 250px;
      height: 34px;
      background: #0aa3a8;
      border-radius: 3px;
      color: #FFFFFF;
      text-transform: uppercase;
      font-size: 25px;
      font-weight: 600;
      border: none;
      outline: none;
      cursor: pointer;
      z-index: 230;
    }
    #ayaryeri
    {
       width: 250px;
       position: relative;
       background-color: ;
       left: -70;
       top: -100px;
    }
 
 
 #p2
 {
    position: relative;
 
    left: 31%;
    top: -275px;
 }



   
 #p2y
 {
    position: relative;
 
    left: 100px;
    top: -27px;
 }
 

 #proayar
 {
   height: 480px;
   width: auto;
   position: relative;

    
 }

 #socialayar
 {
   height: 150px;
   width: 150px;
   top: 0px;
   left: 180px;
   position: absolute;

    
 }

 
 #socialbuttonset
 {
   height: 20px;
   width: 20px;
   

    
 }

 #bioyaziset
 {
   height: 20px;
   width: 175px;
   

    
 }


 #ayarçek2
 {
    position: absolute;
 
    left: 00px;
    top: 4000px;
   
 }

 #biog
 {
   top: 360px;
   left: 0px;
   height: 200px;
   width: 150px;
   position: absolute;
3
 }
 
 
 
 #p1y
 {
    position: relative;
 
    left: -95px;
    top: 05px;
 }
 
 #id_fallow_control
 {
 height: -0px;
 
 }
 
 
 
 
 
 #id_submit
 {
     
     left: 75px;
     top: 150px;
     background-color: #1d1b1b; /* Green */
     border: none;
     color: white;
     padding: 2px 8px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 8px;
     border-radius: 8px;
   
 
 
 }
 
 #takipet
 {
    position: relative;
 
    left: -0px;
    top: -330px;
   
 }
 
 #takip1y
 {
 
   position: relative;
   font-family: Poppins-Bold;
   font-size: 20px;
   color: rgb(255, 255, 255);
   
   left: -68px;
   top: -163px;
 }
 
 
 #takip1yq
 {
 
   position: relative;
   font-family: Poppins-Bold;
   font-size: 20px;
   color: rgb(255, 255, 255);
   
   left: -58px;
   top: -95px;
 }
 
 
 #takip2y
 {
 
   position: relative;
   font-family: Poppins-Bold;
   font-size: 20px;
   color: rgb(255, 255, 255);
   
   left: 60px;
   top: -330px;
 }
 
 
 #takip2yq
 {
 
   position: relative;
   font-family: Poppins-Bold;
   font-size: 20px;
   color: rgb(255, 255, 255);
   
   left: 60px;
   top: -255px;
 }
 
 #takip1
 {
    position: relative;
 
    left: -70px;
    top: -75px;
    width: 150px;
    height: 125px;
 }
 
 
 
 #takip1q
 {
    position: relative;
 
    left: -60px;
    top: -5px;
    width: 150px;
    height: 125px;
 }
 
 #takip2
 {
    position: relative;
 
    left: 60px;
    top: -240px;
    width: 150px;
    height: 125px;
 }
 
 
 #takip2q
 {
    position: relative;
 
    left: 60px;
    top: -168px;
    width: 150px;
    height: 125px;
 }
 
 #takipetbtn
 {
    position: relative;
 
    left: -45px;
    top: 32px;
    z-index: 0;
    height: 30px;
 }
 
 
 #donateyap
 {
   position: relative;
 
   left: 250;
   top: -800px;
 }
 
 #kart
 {
   position: relative;
 
   left: 200;
   top: -920px;
 }
 
 #p1
 {
    position: relative;
 
    left: -70;
    top: -243px;
 }
 
 #p3
 {
    position: relative;
 
    left: 0%;
    top: 22px;
 }
 #bank
 {
    position: absolute;
 
    left: 0px;
    top: 825px;
 }
 

 #kendibioayar
 {
    position: absolute;
 
    left: 0px;
    top: 300px;
 }

 #kendiayar
 {
    position: absolute;
 
    left: 110px;
    top: 600px;
 }

 #socialbuttonset2
 {
    position: absolute;
 
    left: 230px;
    top: 300px;
 }
 #panel
 {
    position: absolute;
 
    left: 100px;
    top: 100px;
 }
 #bankyazi
 {
   color: rgb(0, 0, 0);,

 }

 #bankrq
 {
    position: absolute;
    left: 00px;
    top: 880px;
 }
 
 
 #mtn
 {
 
   
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
  
   
   
 }
 
 #by
 {
    position: relative;
 
    left: 80px;
    top: 0px;
 }
 
 
 #post
 {
    position: absolute;
 
    left: auto;
    top: auto;
   }
 
   #dyeri
   {
      visibility: hidden;
     }
 
   #postrq
 {
    position: absolute;
 
    left: 00px;
    top: 1100px;
   }
 
 
 .single-blog-item {
   border: 1px solid #aa1a1a;
   box-shadow: 2px 5px 10px #e94141;
   margin: 15px auto;
   padding: 5px;
   position: relative;
 }
 .blog-content {
   padding: 15px;
 }
 .blog-content h4 {
   font-size: 16px;
   font-weight: 50;
   margin-bottom: 10px;
   text-transform: uppercase;
 }
 .blog-content h4 a{
    color:#777;
    }
 .blog-content p{
   color: #999;
   font-size: 14px;
   font-weight: 30;
   line-height: 1.3333;
 }
 .blog-date{
    }
 .blog-date {
     position: absolute;
      background: #337ab7;
     top: 35px;
     left: 5px;
     color: #fff;
     border-radius: 0 25px 25px 0;
     padding: 5px 15px;
     font-weight: 700;
 }
 .more-btn {
   background: #337ab7;
   border-radius: 2px;
   display: block;
   height: 30px;
   line-height: 30px;
   margin: 30px auto auto auto;
   text-align: center;
   width: 80px;
   color: #f1f1f1;
 }
 #profilayarı {
     font-family: Poppins-Bold;
     font-size: 30px;
     color: rgb(255, 255, 255);
     text-transform: uppercase;
     line-height: 1.2;
     text-align: center;
     left: -490; 
     top: -1500px;
   }
 
  
 
 
 }

 @media (min-width: 400px) and (max-width: 420px) {
   .tamamlabtn
    {
      position: absolute;
      left: 0;
      right: 0;
      width: 250px;
      height: 34px;
      background: #0aa3a8;
      border-radius: 3px;
      color: #FFFFFF;
      text-transform: uppercase;
      font-size: 25px;
      font-weight: 600;
      border: none;
      outline: none;
      cursor: pointer;
      z-index: 230;
    }
 
 #profilayarı {
     font-family: Poppins-Bold;
     font-size: 30px;
     color: rgb(255, 255, 255);
     text-transform: uppercase;
     line-height: 1.2;
     text-align: center;
     left: -490; 
     top: -1500px;
   }
 
  
 
 #ayaryeri
    {
       width: 250px;
       position: relative;
       background-color: ;
       left: -70;
       top: -100px;
    }
 
 
 #p2
 {
    position: relative;
 
    left: 31%;
    top: -275px;
 }



   
 #p2y
 {
    position: relative;
 
    left: 80px;
    top: -8px;
 }
 

 #proayar
 {
   height: 480px;
   width: auto;
   position: relative;

    
 }

 #socialayar
 {
   height: 150px;
   width: 150px;
   top: 0px;
   left: 180px;
   position: absolute;

    
 }

 
 #socialbuttonset
 {
   height: 20px;
   width: 20px;
   

    
 }

 #bioyaziset
 {
   height: 20px;
   width: 175px;
   

    
 }


 #ayarçek2
 {
    position: absolute;
 
    left: 00px;
    top: 4000px;
   
 }

 #biog
 {
   top: 360px;
   left: 0px;
   height: 200px;
   width: 150px;
   position: absolute;

 }
 
 
 
 #p1y
 {
    position: relative;
 
    left: -75px;
    top: 25px;
 }
 
 #id_fallow_control
 {
 height: -0px;
 
 }
 
 
 
 
 
 #id_submit
 {
     
     left: 75px;
     top: 150px;
     background-color: #1d1b1b; /* Green */
     border: none;
     color: white;
     padding: 2px 8px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 8px;
     border-radius: 8px;
   
 
 
 }
 
 #takipet
 {
    position: relative;
 
    left: -0px;
    top: -300px;
   
 }
 
 #takip1y
 {
 
   position: relative;
   font-family: Poppins-Bold;
   font-size: 20px;
   color: rgb(255, 255, 255);
   
   left: -83px;
   top: -125px;
 }
 
 
 #takip1yq
 {
 
   position: relative;
   font-family: Poppins-Bold;
   font-size: 20px;
   color: rgb(255, 255, 255);
   
   left: -58px;
   top: -95px;
 }
 
 
 #takip2y
 {
 
   position: relative;
   font-family: Poppins-Bold;
   font-size: 20px;
   color: rgb(255, 255, 255);
   
   left: 80px;
   top: -290px;
 }
 
 
 #takip2yq
 {
 
   position: relative;
   font-family: Poppins-Bold;
   font-size: 20px;
   color: rgb(255, 255, 255);
   
   left: 60px;
   top: -255px;
 }
 
 #takip1
 {
    position: relative;
 
    left: -80px;
    top: -35px;
    width: 150px;
    height: 125px;
 }
 
 
 
 #takip1q
 {
    position: relative;
 
    left: -60px;
    top: -5px;
    width: 150px;
    height: 125px;
 }
 
 #takip2
 {
    position: relative;
 
    left: 80px;
    top: -200px;
    width: 150px;
    height: 125px;
 }
 
 
 #takip2q
 {
    position: relative;
 
    left: 60px;
    top: -168px;
    width: 150px;
    height: 125px;
 }
 
 #takipetbtn
 {
    position: relative;
 
    left: -45px;
    top: 32px;
    z-index: 0;
    height: 30px;
 }
 
 
 #donateyap
 {
   position: relative;
 
   left: 250;
   top: -800px;
 }
 
 #kart
 {
   position: relative;
 
   left: 200;
   top: -920px;
 }
 
 #p1
 {
    position: relative;
 
    left: -70;
    top: -243px;
 }
 
 #p3
 {
    position: relative;
 
    left: 0%;
    top: 22px;
 }
 #bank
 {
    position: absolute;
 
    left: 0px;
    top: 825px;
 }
 

 #kendibioayar
 {
    position: absolute;
 
    left: 0px;
    top: 300px;
 }

 #kendiayar
 {
    position: absolute;
 
    left: 110px;
    top: 600px;
 }

 #socialbuttonset2
 {
    position: absolute;
 
    left: 230px;
    top: 300px;
 }

 #bankyazi
 {
   color: rgb(0, 0, 0);,

 }

 #bankrq
 {
    position: absolute;
    left: 00px;
    top: 880px;
 }
 
 
 #mtn
 {
 
   
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
  
   
   
 }
 
 #by
 {
    position: relative;
 
    left: 100px;
    top: 0px;
 }
 
 
 #post
 {
    position: absolute;
 
    left: auto;
    top: auto;
   }
 
   #dyeri
   {
      visibility: hidden;
     }
 
   #postrq
 {
    position: absolute;
 
    left: 00px;
    top: 1100px;
   }
 
 
 .single-blog-item {
   border: 1px solid #aa1a1a;
   box-shadow: 2px 5px 10px #e94141;
   margin: 15px auto;
   padding: 5px;
   position: relative;
 }
 .blog-content {
   padding: 15px;
 }
 .blog-content h4 {
   font-size: 16px;
   font-weight: 50;
   margin-bottom: 10px;
   text-transform: uppercase;
 }
 .blog-content h4 a{
    color:#777;
    }
 .blog-content p{
   color: #999;
   font-size: 14px;
   font-weight: 30;
   line-height: 1.3333;
 }
 .blog-date{
    }
 .blog-date {
     position: absolute;
      background: #337ab7;
     top: 35px;
     left: 5px;
     color: #fff;
     border-radius: 0 25px 25px 0;
     padding: 5px 15px;
     font-weight: 700;
 }
 .more-btn {
   background: #337ab7;
   border-radius: 2px;
   display: block;
   height: 30px;
   line-height: 30px;
   margin: 30px auto auto auto;
   text-align: center;
   width: 80px;
   color: #f1f1f1;
 }
 }



 @media (min-width: 300px) and (max-width: 330px) {
   .tamamlabtn
    {
      position: absolute;
      left: 0;
      right: 0;
      width: 250px;
      height: 34px;
      background: #0aa3a8;
      border-radius: 3px;
      color: #FFFFFF;
      text-transform: uppercase;
      font-size: 25px;
      font-weight: 600;
      border: none;
      outline: none;
      cursor: pointer;
      z-index: 230;
    }
 
 #profilayarı {
     font-family: Poppins-Bold;
     font-size: 30px;
     color: rgb(255, 255, 255);
     text-transform: uppercase;
     line-height: 1.2;
     text-align: center;
     left: -490; 
     top: -1500px;
   }
 
  
 
 #ayaryeri
    {
       width: 250px;
       position: relative;
       background-color: ;
       left: -70;
       top: -100px;
    }
 
 
 #p2
 {
    position: relative;
 
    left: 31%;
    top: -275px;
 }



   
 #p2y
 {
    position: relative;
 
    left: 70px;
    top: -10px;
 }
 

 #proayar
 {
   height: 480px;
   width: auto;
   position: relative;

    
 }

 #socialayar
 {
   height: 150px;
   width: 150px;
   top: 0px;
   left: 165px;
   position: absolute;

    
 }

 
 #socialbuttonset
 {
   height: 20px;
   width: 20px;

    
 }

 #bioyaziset
 {
   height: 20px;
   width: 175px;
   

    
 }


 #ayarçek2
 {
    position: absolute;
 
    left: 00px;
    top: 4000px;
   
 }

 #biog
 {
   top: 360px;
   left: 0px;
   height: 200px;
   width: 150px;
   position: absolute;

 }
 
 
 
 
 #p1y
 {
    position: relative;
 
    left: -75px;
    top: 25px;
 }
 
 #id_fallow_control
 {
 height: -0px;
 
 }
 
 
 
 
 
 #id_submit
 {
     
     left: 75px;
     top: 150px;
     background-color: #1d1b1b; /* Green */
     border: none;
     color: white;
     padding: 2px 8px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 8px;
     border-radius: 8px;
   
 
 
 }
 
 #takipet
 {
    position: relative;
 
    left: -0px;
    top: -300px;
   
 }
 
 #takip1y
 {
 
   position: relative;
   font-family: Poppins-Bold;
   font-size: 20px;
   color: rgb(255, 255, 255);
   
   left: -75px;
   top: -125px;
 }
 
 
 #takip1yq
 {
 
   position: relative;
   font-family: Poppins-Bold;
   font-size: 20px;
   color: rgb(255, 255, 255);
   
   left: -58px;
   top: -95px;
 }
 
 
 #takip2y
 {
 
   position: relative;
   font-family: Poppins-Bold;
   font-size: 20px;
   color: rgb(255, 255, 255);
   
   left: 80px;
   top: -290px;
 }
 
 
 #takip2yq
 {
 
   position: relative;
   font-family: Poppins-Bold;
   font-size: 20px;
   color: rgb(255, 255, 255);
   
   left: 60px;
   top: -255px;
 }
 
 #takip1
 {
    position: relative;
 
    left: -80px;
    top: -35px;
    width: 150px;
    height: 125px;
 }
 
 
 
 #takip1q
 {
    position: relative;
 
    left: -60px;
    top: -5px;
    width: 150px;
    height: 125px;
 }
 
 #takip2
 {
    position: relative;
 
    left: 80px;
    top: -200px;
    width: 150px;
    height: 125px;
 }
 
 
 #takip2q
 {
    position: relative;
 
    left: 60px;
    top: -168px;
    width: 150px;
    height: 125px;
 }
 
 #takipetbtn
 {
    position: relative;
 
    left: -45px;
    top: 32px;
    z-index: 0;
    height: 30px;
 }
 
 
 #donateyap
 {
   position: relative;
 
   left: 250;
   top: -800px;
 }
 
 #kart
 {
   position: relative;
 
   left: 200;
   top: -920px;
 }
 
 #p1
 {
    position: relative;
 
    left: -70;
    top: -243px;
 }
 
 #p3
 {
    position: relative;
 
    left: 0%;
    top: 22px;
 }
 #bank
 {
    position: absolute;
 
    left: 0px;
    top: 825px;
 }
 

 #kendibioayar
 {
    position: absolute;
 
    left: 0px;
    top: 300px;
 }

 #kendiayar
 {
    position: absolute;
 
    left: 90px;
    top: 600px;
 }

 #socialbuttonset2
 {
    position: absolute;
 
    left: 185px;
    top: 300px;
 }

 #bankyazi
 {
   color: rgb(0, 0, 0);,

 }

 #bankrq
 {
    position: absolute;
    left: 00px;
    top: 880px;
 }
 
 
 #mtn
 {
 
   
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
  
   
   
 }
 
 #by
 {
    position: relative;
 
    left: 60px;
    top: 0px;
 }
 
 
 #post
 {
    position: absolute;
 
    left: auto;
    top: auto;
   }
   #dyeri
   {
      visibility: hidden;
     }
 
   #postrq
   {
      position: absolute;
   
      left: 00px;
      top: 1100px;
     }
 
 
 .single-blog-item {
   border: 1px solid #aa1a1a;
   box-shadow: 2px 5px 10px #e94141;
   margin: 15px auto;
   padding: 5px;
   position: relative;
 }
 .blog-content {
   padding: 15px;
 }
 .blog-content h4 {
   font-size: 16px;
   font-weight: 50;
   margin-bottom: 10px;
   text-transform: uppercase;
 }
 .blog-content h4 a{
    color:#777;
    }
 .blog-content p{
   color: #999;
   font-size: 14px;
   font-weight: 30;
   line-height: 1.3333;
 }
 .blog-date{
    }
 .blog-date {
     position: absolute;
      background: #337ab7;
     top: 35px;
     left: 5px;
     color: #fff;
     border-radius: 0 25px 25px 0;
     padding: 5px 15px;
     font-weight: 700;
 }
 .more-btn {
   background: #337ab7;
   border-radius: 2px;
   display: block;
   height: 30px;
   line-height: 30px;
   margin: 30px auto auto auto;
   text-align: center;
   width: 80px;
   color: #f1f1f1;
 }
 }

@media (min-width: 1700px) and (max-width: 2100px) {
 
   .tamamlabtn
   {
     position: absolute;
     left: 0;
     right: 0;
     width: 250px;
     height: 34px;
     background: #0aa3a8;
     border-radius: 3px;
     color: #FFFFFF;
     text-transform: uppercase;
     font-size: 25px;
     font-weight: 600;
     border: none;
     outline: none;
     cursor: pointer;
     z-index: 230;
   }

#profilayarı {
    font-family: Poppins-Bold;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    left: -490; 
    top: -1500px;
  }
.wrap-login100 {
    width: 550px;
    height: 750px;
    background: rgb(184, 184, 184);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    left: 820px; 
    top: -1830px;
  }
.login100-form-title {
    width: 100%;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    padding: 150px 80px 150px 220px;
    
  }  
 
  #kendiayar
  {
     position: absolute;
  
     left: 110px;
     top: 750px;
  }


#ayaryeri
   {
      width: 250px;
      position: relative;
      background-color: ;
      left: -70;
      top: -100px;
   }


#p2
{
   position: relative;

   left: 31%;
   top: -275px;
}
  
#p2y
{
   position: relative;

   left: 65px;
   top: 43px;
}






#p1y
{
   position: relative;

   left: -75px;
   top: 75px;
}

#id_fallow_control
{
height: -0px;

}





#id_submit
{
    
    left: 75px;
    top: 150px;
    background-color: #1d1b1b; /* Green */
    border: none;
    color: white;
    padding: 2px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    border-radius: 8px;
  


}

#takipet
{
   position: relative;

   left: -0px;
   top: -280px;
}

#takip1y
{

  position: relative;
  font-family: Poppins-Bold;
  font-size: 20px;
  color: rgb(255, 255, 255);
  
  left: -60px;
  top: -165px;
}


#takip1yq
{

  position: relative;
  font-family: Poppins-Bold;
  font-size: 20px;
  color: rgb(255, 255, 255);
  
  left: -58px;
  top: -95px;
}


#takip2y
{

  position: relative;
  font-family: Poppins-Bold;
  font-size: 20px;
  color: rgb(255, 255, 255);
  
  left: 60px;
  top: -330px;
}


#takip2yq
{

  position: relative;
  font-family: Poppins-Bold;
  font-size: 20px;
  color: rgb(255, 255, 255);
  
  left: 60px;
  top: -255px;
}

#takip1
{
   position: relative;

   left: -60px;
   top: -75px;
   width: 150px;
   height: 125px;
}
#bankrq
{
   position: relative;

   left: 850px;
   top: -800px;
}


#takip1q
{
   position: relative;

   left: -60px;
   top: -5px;
   width: 150px;
   height: 125px;
}

#takip2
{
   position: relative;

   left: 60px;
   top: -240px;
   width: 150px;
   height: 125px;
}

#ayarçe
{
   position: relative;

   left: -50px;
   top: 120px;
  
}


#ayarçek2
{
   position: relative;

   left: 00px;
   top: 1200px;
  
}

#postrq
{
   position: relative;

   left: 150px;
   top: -900px;
  }
  
  #proayar
  {
    height: 150px;
    width: auto;
    position: relative;
 
     
  }

#takip2q
{
   position: relative;

   left: 60px;
   top: -168px;
   width: 150px;
   height: 125px;
}

#takipetbtn
{
   position: relative;

   left: -45px;
   top: 32px;
   z-index: 0;
   height: 30px;
}


#donateyap
{
  position: relative;

  left: 250;
  top: -800px;
}

#kart
{
  position: relative;

  left: 200;
  top: -920px;
}

#p1
{
   position: relative;

   left: -70;
   top: -243px;
}

#p3
{
   position: relative;

   left: 0%;
   top: 22px;
}
#bank
{
   position: absolute;

   left: 750px;
   top: 270px;
   z-index: 65;
}
#by
{
   position: relative;

   left: 30%;
   top: 0px;
}


#post
{
   position: relative;

   left: 200px;
   top: -700px;
  }


.single-blog-item {
  border: 1px solid #aa1a1a;
  box-shadow: 2px 5px 10px #e94141;
  margin: 15px auto;
  padding: 5px;
  position: relative;
}
.blog-content {
  padding: 15px;
}
.blog-content h4 {
  font-size: 16px;
  font-weight: 50;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.blog-content h4 a{
	color:#777;
	}
.blog-content p{
  color: #999;
  font-size: 14px;
  font-weight: 30;
  line-height: 1.3333;
}
.blog-date{
	}
.blog-date {
    position: absolute;
	  background: #337ab7;
    top: 35px;
    left: 5px;
    color: #fff;
    border-radius: 0 25px 25px 0;
    padding: 5px 15px;
    font-weight: 700;
}
.more-btn {
  background: #337ab7;
  border-radius: 2px;
  display: block;
  height: 30px;
  line-height: 30px;
  margin: 30px auto auto auto;
  text-align: center;
  width: 80px;
  color: #f1f1f1;
}
}
