{% extends 'base.html' %}
{% block title %}
<title>Gönderiler | MindUni</title>
{% endblock title %}
{% block body %}

<link rel="stylesheet" type="text/css" href="/static/navig/base.98fd6c19.css">
	<link href="/static/js/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script type="text/javascript" rel="script" src="/static/js/jquery-3.5.1.min.js"></script>
<script type="text/javascript" rel="script" src="/static/js/jquery-3.5.1.js"></script>
 <link rel="stylesheet" href="/static/pi/css/base.css">
  <link rel="stylesheet" href="/static/css/gonderiler.css">
<link href="/static/js//bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery-3.2.1.min.js"></script>
<!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/static/pi/css/base.css">
    <link rel="stylesheet" href="/static/pi/css/vendor.css">


<center>

<div id="createp">
 <a href="create">
                                   <img src="/static/image/gonderi.png" alt="">
                                   </a>
                                   </div>
                                   <div id="haberler">
 <a href="/haberler">
                                   <img src="/static/image/haberler.png" alt="">
                                   </a>

 </div>

<div id="createmobil">
<a href="create">
                                   <img src="/static/image/gonderimobil.png" alt="">
                                   </a>
                                   </div>
                                   <div id="haberlermobil">
                                   <a href="/haberler">
                                   <img src="/static/image/haberlermobil.png" alt="">
                                   </a>
                                   </div>
                                  


<div id="yeri">

<div  class="container">

{% for gonderi in gonderiler  %}

    <div class="row">

        <div class="col-xl-12">
                    
                        
                    <div class="wrap-login100">
				            <div class="login100-form-title" >
                            
                                        <img src="{{gonderi.user.userprofile.get_foto}}" alt="Userphoto" class="wp-image-2737 tie-appear" width="60" height="60">
                            <br>
                


                                {{gonderi.user}}
               
<div id="buton" >

<div class="btn-group">
  <button type="button" class="btn  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    
  </button>
  <div class="dropdown-menu">
  	{% if  request.user == gonderi.user %} 

    <a class="dropdown-item" href="#">Düzenle</a>
    <a class="dropdown-item" href="#">Paylaş</a>
    <a class="dropdown-item" href="#">Favorilere Ekle</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Gönderiyi Şikayet Et</a>
  </div>
  {% endif %}
  {% if  request.user != gonderi.user %} 

    <a class="dropdown-item" href="#">Mesaj At</a>
    <a class="dropdown-item" href="#">Paylaş</a>
    <a class="dropdown-item" href="#">Favorilere Ekle</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Gönderiyi Şikayet Et</a>
  </div>
  {% endif %}
</div>
                            </div>  

                            </div>  
                            {% if gonderi.image %}
                                  <div id="gondeto">    
                                    
      <img class="d-block w-100" src="{{gonderi.image.url}}" alt="Gonderi Foto"   >
      </div>                            

       <br>                           
 
  

                         
                            {% endif %}  



<div id="contenty">

{{gonderi.content|safe}}
</div>

{% block yorum %}



{% endblock yorum %}
  

</div>
<br>
<br>
<br><br>
<br>
<br>
{% endfor %}
</div>
                                        </center>
<br>
<br>
<br>

<!-- s-extra
    ================================================== -->


<center>    
    <section class="s-extra">

        <div class="row">

            <div class="col-seven md-six tab-full popular">
                <h3>Popüler Haberler</h3>

                <div class="block-1-2 block-m-full popular__posts">

				{% for popiler in popiler %}
                    <article class="col-block popular__post">
                        <a href="#0" class="popular__thumb">
                            <img src="{{popiler.haber.image.url}}" alt="">
                        </a>
                        <a href="{{popiler.haber.get_absolute_url}}"><h5>{{popiler.haber.title}}</h5></a>
                        <section class="popular__meta">
                            <span class="popular__date"><span></span> <time datetime="2018-06-14">{{popiler.haber.create_at}}</time></span>
                        </section>
                    </article>
                {% endfor %}
                    
                </div> <!-- end popular_posts -->
            </div> <!-- end popular -->

            <div class="col-four md-six tab-full end">
                <div class="row">
                    <div class="col-six md-six mob-full categories">
                        <h3>Kategoriler</h3>
        
                        <ul class="linklist">
                            <li><a href="#0">Teknoloji</a></li>
                            <li><a href="#0">Girişim</a></li>
                            <li><a href="#0">Sosyal Yardım</a></li>
                            
                           
                        </ul>
                    </div> <!-- end categories -->
        
                    <div class="col-six md-six mob-full sitelinks">
                        <h3>Site Bağlantıları</h3>
        
                        <ul class="linklist">
                            <li><a href="/">Ana Sayfa</a></li>
                            <li><a href="/auths/profile/">Projeler</a></li>
                            <li><a href="#0">Fikirler</a></li>
                            <li><a href="#0">Bağış Sayfası</a></li>
                            <li><a href="#0">Mağaza</a></li>
                            <li><a href="#0">İletişim</a></li>
                            <li><a href="#0">Okullar/Takımlar</a></li>
                        </ul>
                    </div> <!-- end sitelinks -->
                </div>
            </div>
        </div> <!-- end row -->
    
    
    </section> <!-- end s-extra -->

</center>    
</body>




<div id="bodyalt">   
    <footer class="s-footer">

        <div class="s-footer__main">
            <div class="row">
                
                

                <div class="col-six tab-full s-footer__subscribe">
                        
                    <h4>Yeni Proje Ve Fikirlerden Haberdar Olun</h4>

                    <p>E-Mail Üzerinden Yeni Proje Ve Fikirlerden Haberdar Olmak İsterseniz Aşağıdaki Formu Doldurabilirsiniz</p>
                    <small>*İstediğiniz zaman aboneliğinizi iptal edebilirsiniz.</small>

                    <div class="subscribe-form">
                        <form id="mc-form" class="group" novalidate="true">

                            <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Addresi" required="">
                
                            <input type="submit" name="subscribe" value="Abone Ol">
                
                            <label for="mc-email" class="subscribe-message"></label>
                
                        </form>
                    </div>


                </div> <!-- end s-footer__subscribe -->

            </div>
        </div> <!-- end s-footer__main -->
</body>
        <div  class="s-footer__bottom">
        
            <div class="row">

                <div class="col-six">
                    <ul class="footer-social">
                       
                        <li>
                            <a href="#0"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#0"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#0"><i class="fab fa-youtube"></i></a>
                        </li>
                        
                    </ul>
                </div>

                <div class="col-six">
                    <div class="s-footer__copyright">
                        <span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> MindUni Bir KRC Projesidir <i class="fa fa-heart" aria-hidden="true"></i>  <a href="https://colorlib.com" target="_blank"></a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</span>
                    </div>
                </div>
                
            </div>
        </div> <!-- end s-footer__bottom -->

        <div class="go-top">
            <a class="smoothscroll" title="Back to Top" href="#top"></a>
        </div>

    </footer>



{% endblock body %}