{% extends 'auth/profile/profile.html' %}
{% load static %}
{% block banka %}

<div id="donateyap">
>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link href="{% static 'css/banka.css' %}" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div id="banka">
			
			<div id="Katman2"><a href="/auths/donateyap/"><img border="0" src="{% static 'image/öde/banka/Katman2.png' %}"></a></div>

			<div id="Katman4"><img onclick="history.back(-1)" src="{% static 'image/öde/banka/Katman4.png' %}"></div>
			<div id="YuvarlakKeliDikdrtge"><img src="{% static 'image/öde/banka/YuvarlakKeliDikdrtge.png' %}"></div>
		</div>
 </body>
 </html>
</div>

{% endblock banka %}



