{% extends 'auth/profile/profile.html' %}
{% block kart %}

		<link href="/static/css/kart.css" rel="stylesheet" type="text/css">
	
	<body>
		<div id="kart">
			<div id="Katman4"><a href="https://iyzi.link/AEgRvQ" target="_blank"><img src="/static/image/öde/kart/Katman4.png"></div></a>
			<div id="Katman6"><a href="https://iyzi.link/AEgRxw" target="_blank"><img src="/static/image/öde/kart/Katman6.png"></div></a>
			<div id="Katman8"><a href="https://iyzi.link/AEgR0Q" target="_blank"><img src="/static/image/öde/kart/Katman8.png"></div></a>
			<div id="Katman7"><a href="https://iyzi.link/AEgRzA" target="_blank"><img src="/static/image/öde/kart/Katman7.png"></div></a>
			<div id="Katman5"><a href="https://iyzi.link/AEgRwg" target="_blank"><img src="/static/image/öde/kart/Katman5.png"></div></a>
			<div id="Katman3"><a href="https://iyzi.link/AEgRqQ" target="_blank"><img src="/static/image/öde/kart/Katman3.png"></div></a>
            <div id="geri"><a href="/auths/donateyap/"> <img onclick="history.back(-1)" src="/static/image/öde/kart/geri.png"></div></a>

			<div id="Katman2"><img src="/static/image/öde/kart/Katman2.png"></div>
		</div>
 </body>
 </html>
{% endblock kart %}



