{% extends 'auth/profile/profile.html' %}
{% block banka %}

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>psdtowebpaparapsdalmayzeyi1326.psd</title>
		<link href="/static/css/papara.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		
			<div id="Katman2"><img onclick="history.back(-1)" src="/static/image/öde/papara/Katman2.png"></div>
			<div id="Katman11"><img src="/static/image/öde/papara/Katman11.png"></div>
			<div id="Katman10"><img src="/static/image/öde/papara/Katman10.png"></div>
		
 </body>
 </html>

{% endblock banka %}



