
{% extends  "base.html" %}

{% block body %}
{% load static %}
	{% block title %}<title>
{{user.username}}'nin Profili
</title> {% endblock  %}
<br>
<br>
<br>
<br>
<head>
<script type="text/javascript" rel="script" src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script type="text/javascript" rel="script" src="{% static 'js/jquery-3.5.1.js' %}"></script>

    <script type="text/javascript" rel="script">
    $(document).ready(function () {
       
       $('#id_fallow_control').submit(function (e) {

           e.preventDefault();
           var this_form=$(this);
           var form_action=this_form.attr('action');
           data=this_form.serialize();
           $.ajax({
               url:form_action,
               type:'json',
               data:data,
               method:'POST',
               success:function(data) {
                   $('id_takipciler').text(data.count);
                    this_form.find('#id_submit').val(data.msg);


               }

           })



       })

        

    });
    </script>
    <script>
    $(document).ready(function() {
      console.log($.ajax);
    });
    </script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<link rel="stylesheet" media="screen, projection" href="{% static 'css/probut.css' %}">
<link rel="stylesheet" media="screen, projection" href="{% static 'css/main.css' %}">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{% static 'css/profil.css' %}">

<!-- jQuery library -->

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- CSS only -->

<!-- JS, Popper.js, and jQuery -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


<br>
<br>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <meta name="description" content="Connect with this designer on Dribbble, the best place for designers to gain inspiration, feedback, community, and jobs worldwide.">
  <meta charset="utf-8">
  <meta name="theme-color" content="#333333">
    <meta name="referrer" content="origin-when-cross-origin">
  <script type="text/javascript" rel="script" src="{% static 'js/jqery-3.5.1.min.js' %}"></script>
</head>
  
  
  <meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="nR6uu1f1b6orY0IKVWZTwuUwWN4RVDRVFojsCWjKoybPqpw+4FJ6AA/rfbo0uYpMxA02oN++opoxYG4fdduMxw==">
      <script type="text/javascript" async="" src="https://www.googleadservices.com/pagead/conversion_async.js"></script><script type="text/javascript" async="" src="https://cdn.metarouter.io/a/v1/r3TkTP6KbLj2tRyQg9nSi.js"></script><script async="" src="//www.google-analytics.com/analytics.js"></script><script src="https://m.servedby-buysellads.com/monetization.custom.js"></script><style type="text/css"></style>
  <meta name="description" content="Available for freelance 🛠
Animator. ✨  
Illustrator. ✨ 
 
| {{user.email}}📧

">
<meta property="og:description" content="Available for freelance 🛠
Animator. ✨  
Illustrator. ✨ 
 
| {{user.email}} 📧

">
<meta name="twitter:description" content="Available for freelance 🛠
Animator. ✨  
Illustrator. ✨ 
 
| {{user.email}} 📧

">

<div id="ayarçe">    
<div id="main" class="main-full floating-sidebar-container group ">
  

  <div  class="floating-sidebar profile-info">
    <div  class="profile-info-mod profile-essentials">
      <h1 class="vcard">
      
     <img src={{user.userprofile.get_foto}} alt="Userphoto" class="wp-image-2737 tie-appear" width="60" height="60">
  
</picture>
<br>
{{user.username}}
 </a>
          <span class="location">
            <span class="locality">Safranbolu/Karabük</span>
          </span>
      </h1>

        <div class="bio">Krc Industries  🛠
 ✨  
✨ 


| {{user.email}}📧








      <div id="proayar" class="profile-actions">
        
     


{% if request.user != user %}
        
<div id="p1y" class="profile-message">

  <a class="contact message-btn form-btn " rel="tipsy" data-message-recipient="1055435" data-button-location="profile" href="/messages/new?recipient_id=lukeroberts" original-title="Send a message about a work opportunity">
    <span class="check"><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24" role="img" class="icon "><path d="m21.28 4.473c-.848-.721-2.109-.604-2.817.262l-8.849 10.835-4.504-3.064c-.918-.626-2.161-.372-2.773.566s-.364 2.205.555 2.83l7.494 5.098 11.151-13.653c.707-.866.592-2.152-.257-2.874z"></path></svg>
</span>
    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24" role="img" class="icon "><path d="m12 13.595c-.715 0-1.43-.153-2.095-.46l-9.905-4.572v11.437c0 1.105.895 2 2 2h20c1.105 0 2-.895 2-2v-11.437l-9.905 4.572c-.665.307-1.38.46-2.095.46zm10-11.595h-20c-1.105 0-2 .895-2 2v2.36l10.743 4.958c.799.368 1.716.369 2.515 0l10.742-4.958v-2.36c0-1.105-.895-2-2-2z"></path></svg>

    <span>Mesaj Yolla</span>
</a></div>
    
       
        
        
      <div>

      </div>

<br>
<div id="p2y" class="follow-prompt">

    <a class="form-btn tipsy-mobile-disabled light-btn follow " rel="tipsy" data-signup-trigger="" data-context="follow-user" href="/auths/donateyap/" original-title="Follow Luke Roberts">
      <span>💰 Bağış Yap 💰</span>

      
</a>        </div>

 {{cs | linebreaks}}

<div id="panel">
<img id="takip1" src="{% static 'image/profil/takip1.png' %}" alt="takip"  >

 <p id="takip1y"> {{user.fallowed.all|length}}</p>
<img id="takip2" src="{% static 'image/profil/takip2.png' %}" alt="takip"  >


<p id="takip2y">{{user.fallow.all|length}}</p>

<form id="id_fallow_control" action="{% url 'takip:add-or-delete-fallow' %}">
{% csrf_token %}
<input type="hidden" name="fallowed" value="{{request.user.username}}">
<input type="hidden" name="fallow" value="{{user.username}}">
<div id="takipet">
<input id="id_submit" type="submit" value="{% if takip_durum %} Takibi Bırak ✘ {% else %} Takip Et ✚ {% endif %}">

</div>
</form>
</div>
</div>

<br>
<br>
<br>


<div id="biog">
        <div class="profile-info-mod">
          <h3>Hakkında</h3>
          <ul id="bioyaziset" class="text">
              
                                {{user.userprofile.get_bakiye | linebreaks}}

               
               
              
          </ul>
        </div>


        <div id="socialayar" class="profile-info-mod">
    <h3>Sosyal Medya Hesapları</h3>

    <ul id="socialbuttonset" class="profile-details on-teams">
        <li>
         <button id="socialbuttonset" type="button" class="btn btn-ins"><i class="fab fa-instagram pr-1"></i> Instagram</button>
          <hr>
          <li>
         <button id="socialbuttonset" type="button" class="btn btn-yt"><i class="fab fa-youtube pr-1"></i> Youtube</button>
                    <li>

          <button id="socialbuttonset" type="button" class="btn btn-git"><i class="fab fa-github pr-1"></i> Github</button>

          <hr>
        
         
        </li>
    </ul>


            {% if request.user != user  %}
<div id="dyeri">

 <div id="socialayar" class="profile-info-mod">
    <h3>{{user.username}}'e Bağış Yapanlar</h3>
<div class="card-body text-left">
    
	  <table class="table table-hover group table-striped">
	  	<tbody>   
          {% for donate in donate %}
	  	  <tr>
            
	  		<td>{{donate.veren}}</td>
	  		<td>{{donate.miktar}}TL</td>
	  	 </tr>
	  			{% endfor %}
	  		
	  	</tbody>
	  	</table>
    </div>
     </div>
   
    </div>
        {% endif %} 

    </div>
</div>
</div>
</div>


    {% if request.user == user  %}
<center>
<div class="follow-prompt">

    <a class="form-btn tipsy-mobile-disabled light-btn follow " rel="tipsy" data-signup-trigger="" data-context="follow-user" href="/auths/settings/" original-title="Follow Luke Roberts">
      <span>🛠 Profili Düzenle 🛠</span>
      
</a>        </div>
</center>
{% endif %}
      </div>

      



</div>





{% else %}

<img id="takip1q" src="{% static 'image/profil/takip1.png' %}" alt="takip"  >

 <p id="takip1yq"> {{user.fallowed.all|length}}</p>
<img id="takip2q" src="{% static 'image/profil/takip2.png' %}" alt="takip"  >


<p id="takip2yq">{{user.fallow.all|length}}</p>


<div id="p1" class="profile-message">

  <a class="contact message-btn form-btn " rel="tipsy" data-message-recipient="1055435" data-button-location="profile" href="/messages/new?recipient_id=lukeroberts" original-title="Send a message about a work opportunity">
    <span class="check"><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24" role="img" class="icon "><path d="m21.28 4.473c-.848-.721-2.109-.604-2.817.262l-8.849 10.835-4.504-3.064c-.918-.626-2.161-.372-2.773.566s-.364 2.205.555 2.83l7.494 5.098 11.151-13.653c.707-.866.592-2.152-.257-2.874z"></path></svg>
</span>
    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24" role="img" class="icon "><path d="m12 13.595c-.715 0-1.43-.153-2.095-.46l-9.905-4.572v11.437c0 1.105.895 2 2 2h20c1.105 0 2-.895 2-2v-11.437l-9.905 4.572c-.665.307-1.38.46-2.095.46zm10-11.595h-20c-1.105 0-2 .895-2 2v2.36l10.743 4.958c.799.368 1.716.369 2.515 0l10.742-4.958v-2.36c0-1.105-.895-2-2-2z"></path></svg>

    <span>Mesaj Yolla</span>
</a></div>
    
        
    
        
        
      <div>

      </div>

<br>
<div id="p2" class="follow-prompt">

    <a class="form-btn tipsy-mobile-disabled light-btn follow " rel="tipsy" data-signup-trigger="" data-context="follow-user" href="/auths/donateyap/" original-title="Follow Luke Roberts">
      <span>💰 Bağış Yap 💰</span>

      
</a>        </div>
      






      
    </div>



        <div id="kendibioayar" class="profile-info-mod">
          <h3>Hakkında</h3>
          <ul class="text">
              
                
                {{user.userprofile.get_bakiye | linebreaks}}
              
              
              
          </ul>
        </div>

    </div>


        <div id="socialbuttonset2" class="profile-info-mod">
    <h3>Sosyal Medya Hesapları</h3>

    <ul  class="profile-details on-teams">
        <li>
         <button  type="button" class="btn btn-ins"><i class="fab fa-instagram pr-1"></i> Instagram</button>
          <hr>
          <li>
         <button  type="button" class="btn btn-yt"><i class="fab fa-youtube pr-1"></i> Youtube</button>
                    <li>

          <button  type="button" class="btn btn-git"><i class="fab fa-github pr-1"></i> Github</button>

          <hr>
        
         
        </li>
    </ul>
  </div>

 

    </div>
</div>
    {% if request.user == user  %}
<center>
<div id="kendiayar" class="follow-prompt">

    <a class="form-btn tipsy-mobile-disabled light-btn follow " rel="tipsy" data-signup-trigger="" data-context="follow-user" href="/auths/settings/" original-title="Follow Luke Roberts">
      <span>🛠 Profili Düzenle 🛠</span>
      
</a>        </div>

</center>
</div>
    {% endif %}
      












      
{% endif %}

</div>
      
      <br>
    

  
<div>


<div id="donate">
{% block donate %}



{% endblock donate %}
</div>
<!------ Include the above in your HEAD tag ---------->

    
{% if request.user != user %}
<div id="postrq" class="container">
    <div class="row">
{% for postlar in postlars  %}
        <div class="col-md-4">
           <div class="single-blog-item">
                    <div class="blog-thumnail">
                        <a href=""><img src="{{postlar.image.url}}" alt="blog-img"></a>
                    </div>
                    <div class="blog-content">
                        <h4><a href="#">{{postlar.title}}</a></h4>
                        <div id="mtn">
                        <p>{{postlar.content|safe}}</p>
                        </div>
                        <a href="/project/{{postlar.title}}" class="more-btn">Devamını Oku</a>
                    </div>
                    <span class="blog-date">{{postlar.date}}</span>
                </div>
         </div>            
     
  
{% endfor %}
{% endif %}
{% if request.user == user %}
<div id="post" class="container">
    <div class="row">
{% for postlar in postlar  %}
        <div class="col-md-4">
           <div class="single-blog-item">
                    <div class="blog-thumnail">
                        <a href=""><img src="{{postlar.image.url}}" alt="blog-img"></a>
                    </div>
                    <div class="blog-content">
                        <h4><a href="#">{{postlar.title}}</a></h4>
                        <div id="mtn">
                        <p>{{postlar.content|safe}}</p>
                        </div>
                        <a href="" class="more-btn">Devamını Oku</a>
                    </div>
                    <span class="blog-date">{{postlar.date}}</span>
                </div>
         </div>            
     
  
{% endfor %}
{% endif %}

</div>  </div> 
</div>  </div> 
</div>   

 <!-- s-extra
    ================================================== -->
<div id="ayarçek2">
<center>    
    <section class="s-extra">

        <div class="row">

            <div class="col-seven md-six tab-full popular">
                <h3>Popüler Haberler</h3>

                <div class="block-1-2 block-m-full popular__posts">
                    {% for popiler in popiler %}
                    <article class="col-block popular__post">
                        <a href="#0" class="popular__thumb">
                            <img src="{{popiler.haber.image.url}}" alt="">
                        </a>
                        <a href="{{popiler.haber.get_absolute_url}}"><h5>{{popiler.haber.title}}</h5></a>
                        <section class="popular__meta">
                            <span class="popular__date"><span></span> <time datetime="2018-06-14">{{popiler.haber.create_at}}</time></span>
                        </section>
                    </article>
                {% endfor %}
                    
                    
                </div> <!-- end popular_posts -->
            </div> <!-- end popular -->

            <div class="col-four md-six tab-full end">
                <div class="row">
                    <div class="col-six md-six mob-full categories">
                        <h3>Kategoriler</h3>
        
                        <ul class="linklist">
                            <li><a href="#0">Teknoloji</a></li>
                            <li><a href="#0">Girişim</a></li>
                            <li><a href="#0">Sosyal Yardım</a></li>
                            
                           
                        </ul>
                    </div> <!-- end categories -->
        
                    <div class="col-six md-six mob-full sitelinks">
                        <h3>Site Bağlantıları</h3>
        
                        <ul class="linklist">
                            <li><a href="/">Ana Sayfa</a></li>
                            <li><a href="/auths/profile/">Projeler</a></li>
                            <li><a href="#0">Fikirler</a></li>
                            <li><a href="#0">Bağış Sayfası</a></li>
                            <li><a href="#0">Mağaza</a></li>
                            <li><a href="#0">İletişim</a></li>
                            <li><a href="#0">Okullar/Takımlar</a></li>
                        </ul>
                    </div> <!-- end sitelinks -->
                </div>
            </div>
        </div> <!-- end row -->
    
    
    </section> <!-- end s-extra -->

</center>    



<center> 
<div id="lptpayr">
<div id="bodyalt">   
    <footer class="s-footer">

        <div class="s-footer__main">
            <div class="row">
                
                

                <div class="col-six tab-full s-footer__subscribe">
                        
                    <h4>Yeni Proje Ve Fikirlerden Haberdar Olun</h4>

                    <p>E-Mail Üzerinden Yeni Proje Ve Fikirlerden Haberdar Olmak İsterseniz Aşağıdaki Formu Doldurabilirsiniz</p>
                    <small>*İstediğiniz zaman aboneliğinizi iptal edebilirsiniz.</small>

                    <div class="subscribe-form">
                        <form id="mc-form" class="group" novalidate="true">

                            <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Addresi" required="">
                
                            <input type="submit" name="subscribe" value="Abone Ol">
                
                            <label for="mc-email" class="subscribe-message"></label>
                
                        </form>
                    </div>

                </div> <!-- end s-footer__subscribe -->

            </div>
        </div> <!-- end s-footer__main -->

        <div  class="s-footer__bottom">
        
            <div class="row">

                <div class="col-six">
                    <ul class="footer-social">
                       
                        <li>
                            <a href="#0"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#0"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#0"><i class="fab fa-youtube"></i></a>
                        </li>
                        
                    </ul>
                </div>
 
                <div class="col-six">
                    <div class="s-footer__copyright">
                        <span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> MindUni Bir KRC Projesidir <i class="fa fa-heart" aria-hidden="true"></i>  <a href="https://colorlib.com" target="_blank"></a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</span>
                    </div>
                </div>
                
            </div>
        </div> <!-- end s-footer__bottom -->
</div>
        <div class="go-top">
            <a class="smoothscroll" title="Back to Top" href="#top"></a>
        </div>

    </footer>

        

</center>
</div>


<div id="donateyap">
{% block donateyap %}




{% endblock donateyap %}
</div>


<div id="donateyap">
{% block banka %}




{% endblock banka %}
</div>


<div id="kart">
{% block kart %}




{% endblock kart %}


</div>
{% block set %}




{% endblock set %}


{% endblock  %}