{% extends 'auth/profile/profile.html' %}
{% block set %}

<div class="wrap-login100">
				<div class="login100-form-title" >
					<!-- Cart -->

		<div class="cart_section">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="cart_container">
                                                
							

<div id="ayaryeri">	
<div id="profilayarı">Profil Ayarları</div>						
        <form method="post" enctype="multipart/form-data" action="/auths/settings/">
         {% csrf_token %}
{% for field in form %}
<div class="form-group">
<label class="control-label">{{field.label}}</label>
        {{field}}
        {% if field.errors %}
                {% for error in field.errors %}
                <spon class="text-danger"><b>{{error}}</b></span>
                {% endfor %}
        {% else %}    
                {% if field.help_text %}
        
                <span class="text-success"><b>{{field.help_text}}</b></span>
        
        
                 {% endif %} 

        {%endif%}         










        </div>

{%endfor%}
<center>
<div class="form-group ">
<input type="submit" value="Kaydet" class="btn btn-sm btn-success"></center>
<div class="pull-right">
               <a href="/auths/password/"><input id="tb"class="tamamlabtn"  value="&nbsp;&nbsp;&nbsp;Şifre Değişikliği" /></a>
        </div>
        </form>
</div>


{% endblock set %}



