



{% extends 'auth/profile/profile.html' %}
{% block set %}
{% if messages %}
        {% for message in messages  %}
        
            {{message|safe}}
            
        
        
        {% endfor %}


{% endif %}

<div class="wrap-login100">
				<div class="login100-form-title" >
					<!-- Cart -->

		<div class="cart_section">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="cart_container">
                                                
							

<div id="ayaryeri">	
<div id="profilayarı">Profil Ayarları</div>						
        <form method="post" enctype="multipart/form-data" action="/auths/settings/">
         <form method="post">
{% csrf_token %}
 {% for field in form  %}
{% if field.help_text %}
        <small style="color: grey">{{field.help_text}}</small>
    {% endif %}
    <p>
    {{field.label_tag}}<br>
    {{field}}
    
    {% for error in field.errors  %}
        <p style="...">{{error}}</p>

    
    
    {% endfor %}
</div>
    </p>
 {% endfor %}  
    <center>
<div class="form-group ">
<input type="submit" value="Kaydet" class="btn btn-sm btn-success"></center>
</form>



{% endblock set %}



