
{% load static %}
<link rel="stylesheet" media="screen, projection" href="{% static 'css/portakal2.css' %}">
  <link rel="stylesheet" media="screen, projection" href="{% static 'css/portakal.css' %}">

		<div id="bodynav3">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


		<link href="{% static 'css/navbar2.css' %}" rel="stylesheet" type="text/css">

	</head>
	<body>
     
		<div id="background1">
            
						<a oncontextmenu="return false"  onselectstart="return false" ondragstart="return false" id="nav" href="/" ><img src="{% static 'image/navbar/asas.png' %}"> </a>

		
    



			
    </div>





<br>




     <div id="pb2"> 
      <button id="projeler" onclick="window.location.href='/project/index'"  type="button" class="btn btn-outline-light">Projeler</button>
    </div>

	<div id="fb2"> 
      <button id="projeler" onclick="window.location.href='/fonlama'"  type="button" class="btn btn-outline-light">Fonlama</button>
    </div>


	
<div id="hb2"> 
      <button id="projeler" onclick="window.location.href='/haberler'"  type="button" class="btn btn-outline-light">Haberler</button>
    </div>

	<div id="eb2"> 
      <button id="projeler" onclick="window.location.href='/gonderi'"  type="button" class="btn btn-outline-light">Gönderiler</button>
    </div>
	{% if  not request.user.is_authenticated  %} 

	<div id="lb"> 
      <button id="projeler" onclick="window.location.href='/auths/login/'"  type="button" class="btn btn-outline-light">Giriş Yap</button>
    </div>

	<div id="kb"> 
      <button id="projeler" onclick="window.location.href='/auths/register/'"  type="button" class="btn btn-outline-light">Kayıt Ol</button>
    </div>
	{% endif %}

	{% if request.user.is_authenticated  %}

<img id="bakiyeniz" src="{% static 'image/bakiye.png' %}" alt="bakiye"  >
<div id="bakiye">
{{user.userprofile.get_bio | linebreaks}}


</div>
<div id="sb2"> 
      <button id="projeler" onclick="window.location.href='/shop'"  type="button" class="btn btn-outline-light">Mağaza</button>
    </div>



	


	


	




		<div id="pd">
	<div  class="dropdown">
  <button id="ddp" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Profilim
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/auths/profile/">Profilim</a>
	<a class="dropdown-item" href="#">Mesajlar</a>
	<a class="dropdown-item" href="#">Ekibim</a>
    <a class="dropdown-item" href="/order/shopcart/">Sepetim</a>
    <a class="dropdown-item" href="/order">Siparişlerim</a>
        <a class="dropdown-item" href="/bakiye_ekle">Bakiye Ekle</a>
        <a class="dropdown-item" href="/bakiye_ekle/odeme_bildirimi">Ödeme Bildirimi</a>

	<a class="dropdown-item" href="/auths/logout/">Çıkış Yap</a>


  </div>
</div>
</div>

<div id="scb"> 
              <a oncontextmenu="return false"  onselectstart="return false" ondragstart="return false" id="sepet" href="/order/shopcart/"><img src="{% static 'image/navbar/cart.png'%}"> </a>
    </div>


	{% endif %}
