{% extends 'base.html' %}
{% load static %}
{% block body %}
{% if messages %}
    {% for message in messages %}
											<div class="alert alert-{{message.tags}}" role="alert">
													{{message}}
											</div>
    {%endfor%}
{% endif %}






<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Little Closet template">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'product/styles/bootstrap-4.1.2/bootstrap.min.css' %}">
<link href="{% static 'product/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'product/styles/cart.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'product/styles/cart_responsive.css' %}">
</head>



<body id="body1">


<div class="wrap-login100">
				<div class="login100-form-title" >
					<!-- Cart -->

		<div class="cart_section">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="cart_container">
							
							<div id="orderdetail"> Siparişlerim</div>

<!-- Cart Bar -->
						
  
  
    

<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column1">Sipariş No</th>
								<th class="column2">Sipariş Bilgisi</th>
								<th class="column3">Durum Notu</th>
								<th class="column4">Sipariş Tarihi</th>
								<th class="column5">Tutar</th>
								<th class="column6">Durum</th>
							</tr>
						</thead>
						<tbody>
						{% for rs in  orders %}
								
								
								<tr>
								

									<td class="column1">{{rs.code}}</td>
									<td class="column2"></td>
									<td class="column3">{{rs.note}}</td>
									<td class="column4">{{rs.create_at}}</td>
									<td class="column5">{{rs.total}}</td>
									<td class="column6">{{rs.status}}</td>

								</tr>
								<tr>
								{% endfor %}
    
  










					</span>
				</div>

			
					
			</div>
		

		
							
				
				
			</div>
		</div>

		
	</div>
	</div>	
</div>

<div id="drmimage"> <img src="{% static 'image/order.png' %}" alt="Smiley face" height="43" width="42"></div>





<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'table/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'table/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'table/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'table/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'table/vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'table/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'table/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
	
	
    






    </tr>
								
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>


	

<!--===============================================================================================-->	
	<script src="{% static 'table/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'table/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'table/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'table/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'table/js/main.js' %}"></script>

</body>
</html>
























<script src="{% static 'product/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'product/styles/bootstrap-4.1.2/popper.js' %}"></script>
<script src="{% static 'product/styles/bootstrap-4.1.2/bootstrap.min.js' %}"></script>
<script src="{% static 'product/plugins/greensock/TweenMax.min.js' %}"></script>
<script src="{% static 'product/plugins/greensock/TimelineMax.min.js' %}"></script>
<script src="{% static 'product/plugins/scrollmagic/ScrollMagic.min.js' %}"></script>
<script src="{% static 'product/plugins/greensock/animation.gsap.min.js' %}"></script>
<script src="{% static 'product/plugins/greensock/ScrollToPlugin.min.js' %}"></script>
<script src="{% static 'product/plugins/easing/easing.js' %}"></script>
<script src="{% static 'product/plugins/parallax-js-master/parallax.min.js' %}"></script>
<script src="{% static 'product/js/cart.js' %}"></script>
</body>
</html>




















<script src="{% static 'cart/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'cart/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'cart/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'cart/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'cart/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'cart/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'cart/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'cart/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'cart/js/main.js' %}"></script>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'cart/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'cart/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'cart/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'cart/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'cart/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'cart/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'cart/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'cart/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'cart/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'cart/css/main.css' %}">
<!--=============================================================-->
{% endblock body %}

