

{% extends  "base.html" %}
{% block title %}
<title>{{post.title}}</title>
{% endblock title %}

{% block body %}
 <br>
 <br><br>
 <br><br>
 <br><br>
 <br><br>
 <br><br>
 <br><br>


<link href="/static/css/detail.css" rel="stylesheet" type="text/css">

<!--Post Detay Bölümü-->




  <!-- Custom styles for this template -->
<!--Fotoğraf slider bölümü-->
<link href="/static/css/fotoslider.css" rel="stylesheet" id="bootstrap-css">
<script src="/static/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
{% if post.image %}
              

       
  <div class="container">
  
  <div class='row'>
    <div class='col-md-8'>
      <div class="carousel slide media-carousel" id="media">
        <div class="carousel-inner">
          <div class="item  active">
            <div class="row">
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="{{ post.image.url }}"></a>
              </div>          
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="{{ post.image.url }}"></a>
              </div>
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="{{ post.image.url }}"></a>
              </div>        
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="{{ post.image.url }}"></a>
              </div>          
                     
            </div>
          </div>
         
        </div>
        <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
        <a data-slide="next" href="#media" class="right carousel-control">›</a>
      </div>                          
    </div>
  </div>
</div>



<body>
{% else %}     
     <div class="container">
  
  <div class='row'>
    <div class='col-md-8'>
      <div class="carousel slide media-carousel" id="media">
        <div class="carousel-inner">
          <div class="item  active">
            <div class="row">
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="https://via.placeholder.com/150"></a>
              </div>          
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="https://via.placeholder.com/150"></a>
              </div>
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="https://via.placeholder.com/150"></a>
              </div>        
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="https://via.placeholder.com/150"></a>
              </div>          
                     
            </div>
          </div>
         
        </div>
        <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
        <a data-slide="next" href="#media" class="right carousel-control">›</a>
      </div>                          
    </div>
  </div>
</div>     
{% endif %}

 
    
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      
      <div class="col-lg-9">

        <!-- Title -->
        <div id="mbltitle">
        <h1 class="mt-2"  color="red" >{{post.title}}</h1>
        </div>

        <!-- Author -->
        <p class="lead">
          Oluşturan ›
          <a href="/auths/{{post.user}}">{{post.user}}</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>{{post.date}}</p>

        <hr>

        <!-- Preview Image -->
        {% if post.image %}
              <img src="{{ post.image.url }}" class="img-fluid">

        {% else %}     
          <img class="img-fluid rounded" src="http://placehold.it/900x300" alt=""> 
        {% endif %}
              

        <hr>

        <!-- Post Content -->
      <div class="post-content-body">
      
      
          <div class="card my-4">
          
          <h1 class="card-header">  {{post.content|safe}} </h1>
          
                <!---
                <a href="{{  'add-remove-favorite.url' }}?url={{  '<slug>' }}" class="btn btn-sm btn-default">
                  <span class="glypicon glyphicon-star"></span>
                 </a> 
                -->


            
        </div>    
              
            </div>

<br><br>
<br>
<br>
<br>
<br>


      <h2>{{ comments.count }} Yorum Yapıldı</h2>

        {% for comment in comments %}
        <div class="comments" style="padding: 10px;" placeholder="Email Addresi">
       
          <p class="font-weight-bold" placeholder="Email Addresi">
            {{ comment.name }}
            <span class=" text-muted font-weight-normal" placeholder="Email Addresi">
              {{ comment.created_on }} 
            </span>
          </p>
          {{ comment.body | linebreaks }}
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        {% if new_comment %}
        <div class="alert alert-success" role="alert">
          Yorumunuz Onaylandıktan Sonra Yazınlanacaktır.
        </div>
        {% else %}
        <h3>Yorum Yapabilirsiniz</h3>
        <form method="post" style="margin-top: 1.3em;">
          {{ comment_form.as_p }}
          {% csrf_token %}
          <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>


       
      <!-- Sidebar Widgets Column -->
      

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>











<!--Post Detay Bölümü Sonu -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<head>
  
  <meta name="description" content="Connect with this designer on Dribbble, the best place for designers to gain inspiration, feedback, community, and jobs worldwide.">
  <meta charset="utf-8">
  <meta name="theme-color" content="#333333">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta name="referrer" content="origin-when-cross-origin">
  
  <link rel="stylesheet" href="/assets/dribbble-1-0/attachment-overlay-7e9f0d105045800cc4063dcac3a315f2ba27426a4c9bbdcc7ca3f9c38cc3b787.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="/assets/dribbble-1-0/attachment-overlay-7e9f0d105045800cc4063dcac3a315f2ba27426a4c9bbdcc7ca3f9c38cc3b787.css"></noscript>

  <link rel="stylesheet" href="/assets/dribbble-1-0/master_async-06900d14dfe4098d96b4908d02158097acd5def9883df2b7d7006db1e2dfe47b.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="/assets/dribbble-1-0/master_async-06900d14dfe4098d96b4908d02158097acd5def9883df2b7d7006db1e2dfe47b.css"></noscript>

  <!-- <![endif]-->
  
  <meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="nR6uu1f1b6orY0IKVWZTwuUwWN4RVDRVFojsCWjKoybPqpw+4FJ6AA/rfbo0uYpMxA02oN++opoxYG4fdduMxw==">
      <script type="text/javascript" async="" src="https://www.googleadservices.com/pagead/conversion_async.js"></script><script type="text/javascript" async="" src="https://cdn.metarouter.io/a/v1/r3TkTP6KbLj2tRyQg9nSi.js"></script><script async="" src="//www.google-analytics.com/analytics.js"></script><script src="https://m.servedby-buysellads.com/monetization.custom.js"></script><style type="text/css"></style>
  <meta name="description" content="Available for freelance 🛠
Animator. ✨  
Illustrator. ✨ 
 
| {{post.user.email}}📧

">
<meta property="og:description" content="Available for freelance 🛠
Animator. ✨  
Illustrator. ✨ 
 
| {{post.user.email}} 📧

">
<meta name="twitter:description" content="Available for freelance 🛠
Animator. ✨  
Illustrator. ✨ 
 
| {{post.user.email}} 📧

">



 



<div id="yazar">
  
    




  

  <div id="yazar">
  
      

<div id="main" class="main-full floating-sidebar-container group ">
  

  <div class="floating-sidebar profile-info">
    <div class="profile-info-mod profile-essentials">
      <h1 class="vcard">
      
     <img src={{post.user.userprofile.get_foto}} alt="Userphoto" class="wp-image-2737 tie-appear" width="60" height="60">
  
</picture>
<br>
{{post.user}}

 </a>
          <span class="location">
            <span class="locality">Safranbolu/Karabük</span>
          </span>
      </h1>

        <div class="bio">Krc Industries 🛠
 ✨  
✨ 
 
| {{post.user.email}}📧

</div>

      <div class="profile-actions">
          





<div class="profile-message">

  <a class="contact message-btn form-btn " rel="tipsy" data-message-recipient="1055435" data-button-location="profile" href="/messages/new?recipient_id=lukeroberts" original-title="Send a message about a work opportunity">
    <span class="check"><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24" role="img" class="icon "><path d="m21.28 4.473c-.848-.721-2.109-.604-2.817.262l-8.849 10.835-4.504-3.064c-.918-.626-2.161-.372-2.773.566s-.364 2.205.555 2.83l7.494 5.098 11.151-13.653c.707-.866.592-2.152-.257-2.874z"></path></svg>
</span>
    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24" role="img" class="icon "><path d="m12 13.595c-.715 0-1.43-.153-2.095-.46l-9.905-4.572v11.437c0 1.105.895 2 2 2h20c1.105 0 2-.895 2-2v-11.437l-9.905 4.572c-.665.307-1.38.46-2.095.46zm10-11.595h-20c-1.105 0-2 .895-2 2v2.36l10.743 4.958c.799.368 1.716.369 2.515 0l10.742-4.958v-2.36c0-1.105-.895-2-2-2z"></path></svg>

    <span>Mesaj Yolla</span>
</a></div>



        
        <div class="follow-prompt">
<div id="p2y" class="follow-prompt">

    <a class="form-btn tipsy-mobile-disabled light-btn follow " rel="tipsy" data-signup-trigger="" data-context="follow-user" href="/auths/donateyap/" original-title="Follow Luke Roberts">
      <span>💰 Bağış Yap 💰</span>

      
</a>        </div>
</div>
    
<center>
<br>
<a class="form-btn tipsy-mobile-disabled light-btn follow " rel="tipsy" data-signup-trigger="" data-context="follow-user" href="/auths/{{post.user.username}}" original-title="Follow Luke Roberts">
      <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24" role="img" class="icon "><path d="m20 10h-6v-6c0-1.104-.896-2-2-2s-2 .896-2 2v6h-6c-1.104 0-2 .896-2 2s.896 2 2 2h6v6c0 1.104.896 2 2 2s2-.896 2-2v-6h6c1.104 0 2-.896 2-2s-.896-2-2-2z"></path></svg>

      <span>Takip Et</span>
</a>    
<br>
</center>

      <a href="#" class="floating-sidebar-toggle">
        <span>Daha Fazlası</span>
      </a>
    </div>

    <div class="floating-sidebar-float">


        <div class="profile-info-mod">
          <h3>KATEGORİ</h3>
          <ul class="skills-list">

              <li>
                <a data-skill="animation" href="/designers?skills=animation">{{post.category}}</a>
              </li>
              
              {% if post.category2 %}
              <li>
                <a data-skill="animation" href="/designers?skills=animation">{{post.category2}}</a>
              </li>
              {% endif %}
              {% if post.category3 %}
              <li>
                <a data-skill="animation" href="/designers?skills=animation">{{post.category3}}</a>
              </li>
              {% endif %}
              {% if post.category4 %}
              <li>
                <a data-skill="animation" href="/designers?skills=animation">{{post.category4}}</a>
              </li>
              {% endif %}
              {% if post.category5 %}
              <li>
                <a data-skill="animation" href="/designers?skills=animation">{{post.category5}}</a>
              </li>
              {% endif %}
              
             
              
          </ul>
        </div>

    </div>

    <div class="floating-sidebar-extra">

        <div class="profile-info-mod">
    <h3>Malzeme Listesi</h3>

    <ul class="profile-details on-teams">
        <li>
          <a class="url" rel="contact" href="/krc"><img class="photo" alt="Hiwow" src="https://i.ibb.co/WtTP079/Arkaplan.png"> Krc </a>
          <br>
          <hr>
          <li>
          <a class="url" rel="contact" href="/krc"><img class="photo" alt="Hiwow" src="https://i.ibb.co/WtTP079/Arkaplan.png"> Krc </a>
          <br>
          <hr>
          <li>
          <a class="url" rel="contact" href="/krc"><img class="photo" alt="Hiwow" src="https://i.ibb.co/WtTP079/Arkaplan.png"> Krc </a>
          <br>
          <hr>
         
        </li>
    </ul>
  </div>


        

          <div class="profile-info-mod">
            <h3>{{post.user}}'nİn Diğer Paylaşımları</h3>

            <ul class="profile-projects">
                <li>
                  <a href="/auths/{{post.user}}">
                    <img src="https://cdn.dribbble.com/users/1055435/screenshots/5407524/puffer-dribbble.gif" alt="Puffer dribbble">
                    <h4>Proje 1</h4>
                   
</a>                </li>
              <li class="all">
                <a href="/auths/{{post.user}}">
                  Paylaşımları Gör ›
</a>              </li>
            </ul>
          </div>

    </div>
</div>
</body>

  
<div>
<!-- s-footer
   

    ================================================== -->

   <script src="/static/pi/js/jquery-3.2.1.min.js"></script>
    <script src="/static/pi/js/plugins.js"></script>
    <script src="/static/pi/js/main.js"></script>
        <link rel="stylesheet" href="/static/pi/css/main.css">
</div>



</body>
</div>






{% endblock  %}

