#nasıl
{ 
     left: 1550px; 
     top: 450px; 
     position: absolute; 
     
     z-index:4;
}

#form
{ 
     left: 305px; 
     top: 340px; 
     position: absolute; 
     
     
}

#formr
{ 
     left: 350px; 
     top: 400px; 
     position: absolute; 
     
     z-index:5;
}

#nb
{ 
     left: 0px; 
     top: 450px; 
     position: absolute; 
     
     z-index:5;
}