@media only screen and (min-width: 1100px) {

 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1366px;
	 height: 310px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #yazar 
{ 
	 left: 530px; 
	 top: 194px; 
	 position: absolute; 
	 width: auto;
	 height: auto;
	 z-index:1;
} 
#like 
{ 
	 left: auto; 
	 top: auto; 
	 position: absolute; 
	 width: 80px;
	 height: 60px;
	 z-index:22;
} 

 #likesayar 
{ 
	 left: auto; 
	 top: auto; 
	 position: absolute; 
	 width: 20;
	 height: 17;
	 z-index:23;
} 


#content
{
	left: 757px; 
	top: 302px; 
	position: absolute; 
	width: 52px;
	height: 43px;
	z-index:24;

}
}
@media only screen and (min-width: 1500px) { body {
	margin: 0;
	padding: 0;
 }
 


 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1366px;
	 height: 310px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #yazar 
{ 
	 left: 560px; 
	 top: 194px; 
	 position: absolute; 
	 width: auto;
	 height: auto;
	 z-index:1;
} 
#like 
{ 
	 left: auto; 
	 top: auto; 
	 position: absolute; 
	 width: 80px;
	 height: 60px;
	 z-index:22;
} 

 #likesayar 
{ 
	 left: auto; 
	 top: auto; 
	 position: absolute; 
	 width: 20;
	 height: 17;
	 z-index:23;
} 


#content
{
	left: 757px; 
	top: 302px; 
	position: absolute; 
	width: 52px;
	height: 43px;
	z-index:24;

}





}

