#bodi{
   
	background-color: #fafafb;
	min-height: auto;
  min-width: auto;

  width: auto;
  height: auto;	
  
   }

.wrap-login100 {
    width: 550px;
  height: auto;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: auto;
    position: relative;
    left: 500px; 
      top: 230px;
      border-style: solid;
      border-width: 1px;
      border-color: #363636;
  }



  .login100-form-title {
   
    
    
      border-style: solid;
      border-width: 2px;
      border-color: #363636;
  }

  #yeri{
      
    position: relative;
    left: -470px; 
      top: -100px;

  }
  #buton{
      
    position: relative;
    left: 230px; 
      top: -70px;
      width: 0px;
      height: 0px;

  }

  #contenty{
      
    position: relative;
    left: 0px; 
      top: 0px;
      font-family: "Lucida Console", Monaco, monospace;
font-size: 29px;
letter-spacing: -0.6px;
word-spacing: 2.6px;
color: #000000;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;

  }