
{% extends  "base.html" %}

{% block body %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/bakiye_ekle.css' %}">


<script>
$('.filter-draggable').mdbFilter({
  draggable: true
})
</script>







<div class="filter filter-draggable">
  <div class="filter-nav">
    <button class="btn btn-success active" data-filter="">All</button>
    <button class="btn btn-primary" data-filter="nature">Nature</button>
    <button class="btn btn-primary" data-filter="food">Food</button>
    <button class="btn btn-primary" data-filter="architecture">Architecture</button>
  </div>
  <div class="filter-gallery">
    <div class="item" data-category="nature">
      <div class="item-content">
        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(30).jpg" alt="image">
      </div>
    </div>
    <div class="item" data-category="architecture">
      <div class="item-content">
        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(1).jpg" alt="image">
      </div>
    </div>
    <div class="item" data-category="food">
      <div class="item-content">
        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(42).jpg" alt="image">
      </div>
    </div>
    <div class="item" data-category="architecture">
      <div class="item-content">
        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(2).jpg" alt="image">
      </div>
    </div>
    <div class="item" data-category="nature">
      <div class="item-content">
        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(114).jpg" alt="image">
      </div>
    </div>
    <div class="item" data-category="architecture">
      <div class="item-content">
        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(4).jpg" alt="image">
      </div>
    </div>
    <div class="item" data-category="architecture">
      <div class="item-content">
        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(6).jpg" alt="image">
      </div>
    </div>
    <div class="item" data-category="nature">
      <div class="item-content">
        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(115).jpg" alt="image">
      </div>
    </div>
    <div class="item" data-category="food">
      <div class="item-content">
        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(44).jpg" alt="image">
      </div>
    </div>
    <div class="item" data-category="architecture">
      <div class="item-content">
        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(5).jpg" alt="image">
      </div>
    </div>
    <div class="item" data-category="food">
      <div class="item-content">
        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(45).jpg" alt="image">
      </div>
    </div>
    <div class="item" data-category="food">
      <div class="item-content">
        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(46).jpg" alt="image">
      </div>
    </div>
    <div class="item" data-category="food">
      <div class="item-content">
        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(47).jpg" alt="image">
      </div>
    </div>
    <div class="item" data-category="nature">
      <div class="item-content">
        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(111).jpg" alt="image">
      </div>
    </div>
    <div class="item" data-category="architecture">
      <div class="item-content">
        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(3).jpg" alt="image">
      </div>
    </div>
    <div class="item" data-category="nature">
      <div class="item-content">
        <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(112).jpg" alt="image">
      </div>
    </div>
  </div>
</div>




















	{% block title %}<title>
Bakiye Ekle | MindUni
</title> {% endblock  %}


 <div class="wrap-login100">
       
				<div class="login100-form-title" >
                
                </div>
                <center>
<h1>Kupon İle Bakiye Yükle</h1>
<br>
<br>
<div id="kuponbtn">
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <a href="/bakiye_ekle/kupon" class="btnk btnk-lg">Kupon Gir</a>
        </div>
    </div>
</div>
</div>

</center>




                </div>



 <div class="wrap-login300">
       
				<div class="login300-form-title" >
                
                </div>
                <center>
<h1>Proje Paylaşarak Bakiye Kazan</h1>
<br>
<br>
<div id="projectbtn">
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <a href="/project/create" class="btnk btnk-lg">Proje Paylaş</a>
        </div>
    </div>
</div>
</div>

</center>




                </div>



<div class="wrap-login200">
       
				<div class="login200-form-title" >
                
                </div>
<center>
<h1>İyzico İle Bakiye Yükle</h1>
</center>
<br>
			<div id="beşyüz" ><a href="https://iyzi.link/AFhN8g" ><img src="{% static 'image/öde/kart/500.png' %}" width="200" height="200"></a></div>
			<div id="bin" ><a href="https://iyzi.link/AFhN9w" ><img src="{% static 'image/öde/kart/1000.png' %}" width="200" height="200"></a></div>

			<div id="ikibin"><a href="https://iyzi.link/AFhN_A" ><img src="{% static 'image/öde/kart/2000.png' %}" width="200" height="200"></a></div>
			<div id="beşbin"><a href="https://iyzi.link/AFhOAQ" ><img src="{% static 'image/öde/kart/5000.png' %}" width="200" height="200"></a></div>



                </div>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<center>    
    <section class="s-extra">

        <div class="row">

            <div class="col-seven md-six tab-full popular">
                <h3>Popüler Haberler</h3>

                <div class="block-1-2 block-m-full popular__posts">
                    <article class="col-block popular__post">
                        <a href="#0" class="popular__thumb">
                            <img src="{% static 'pi/images/thumbs/small/tulips-150.jpg' %}" alt="">
                        </a>
                        <h5>Popüler Haber 1.</h5>
                        <section class="popular__meta">
                            <span class="popular__author"><span></span> <a href="#0">MindUni</a></span>
                            <span class="popular__date"><span></span> <time datetime="2018-06-14">Temmuz 14, 2018</time></span>
                        </section>
                    </article>
                    <article class="col-block popular__post">
                        <a href="#0" class="popular__thumb">
                            <img src="{% static 'pi/images/thumbs/small/wheel-150.jpg' %}" alt="">
                        </a>
                        <h5><a href="#0">Popüler Haber 2.</a></h5>
                        <section class="popular__meta">
                           <span class="popular__author"><span></span> <a href="#0">MindUni</a></span>
                            <span class="popular__date"><span></span> <time datetime="2018-06-14">Temmuz 14, 2018</time></span>
                        </section>
                    </article>
                    
                </div> <!-- end popular_posts -->
            </div> <!-- end popular -->

            <div class="col-four md-six tab-full end">
                <div class="row">
                    <div class="col-six md-six mob-full categories">
                        <h3>Kategoriler</h3>
        
                        <ul class="linklist">
                            <li><a href="#0">Teknoloji</a></li>
                            <li><a href="#0">Girişim</a></li>
                            <li><a href="#0">Sosyal Yardım</a></li>
                            
                           
                        </ul>
                    </div> <!-- end categories -->
        
                    <div class="col-six md-six mob-full sitelinks">
                        <h3>Site Bağlantıları</h3>
        
                        <ul class="linklist">
                            <li><a href="/">Ana Sayfa</a></li>
                            <li><a href="/auths/profile/">Projeler</a></li>
                            <li><a href="#0">Fikirler</a></li>
                            <li><a href="#0">Bağış Sayfası</a></li>
                            <li><a href="#0">Mağaza</a></li>
                            <li><a href="#0">İletişim</a></li>
                            <li><a href="#0">Okullar/Takımlar</a></li>
                        </ul>
                    </div> <!-- end sitelinks -->
                </div>
            </div>
        </div> <!-- end row -->
    
    
    </section> <!-- end s-extra -->

</center>    




<center>

<div id="bodyalt">   
    <footer class="s-footer">

        <div class="s-footer__main">
            <div class="row">
                
                

                <div class="col-six tab-full s-footer__subscribe">
                        
                    <h4>Yeni Proje Ve Fikirlerden Haberdar Olun </h4>

                    <p>E-Mail Üzerinden Yeni Proje Ve Fikirlerden Haberdar Olmak İsterseniz Aşağıdaki Formu Doldurabilirsiniz</p>
                    <small>*İstediğiniz zaman aboneliğinizi iptal edebilirsiniz.</small>

                    <div class="subscribe-form">
                        <form id="mc-form" class="group" novalidate="true">

                            <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Addresi" required="">
                
                            <input type="submit" name="subscribe" value="Abone Ol">
                
                            <label for="mc-email" class="subscribe-message"></label>
                
                        </form>
                    </div>

                </div> <!-- end s-footer__subscribe -->

            </div>
        </div> <!-- end s-footer__main -->
</body>
        <div  class="s-footer__bottom">
        
            <div class="row">

                <div class="col-six">
                    <ul class="footer-social">
                       
                        <li>
                            <a href="#0"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#0"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#0"><i class="fab fa-youtube"></i></a>
                        </li>
                        
                    </ul>
                </div>

                <div class="col-six">
                    <div class="s-footer__copyright">
                        <span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> MindUni Bir KRC Projesidir <i class="fa fa-heart" aria-hidden="true"></i>  <a href="https://colorlib.com" target="_blank"></a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</span>
                    </div>
                </div>
                
            </div>
        </div> <!-- end s-footer__bottom -->

       

    </footer>
</center>
{% endblock %}