{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block body  %}
{% block title %}
<title>Ödeme Bildirimi | MindUni</title>
{% endblock title %}
<link rel="stylesheet" type="text/css" href="/static/dükkan/styles/responsive.css">

<br>
<br>
<br>
<br>
<br>
<br>
<center>

<div id="mobil">
<div class="container">
<div class="row"></div>
<form method="post" enctype="multipart/form-data">
{% csrf_token %}

       
    {{form|crispy}}
    {{form.media}}
    <input class="btn btn-primary" type="submit" value="Gönder">


</form>
</center>
</div>
{% endblock  %}