{% extends 'base.html' %}
{% block body %}
 
<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="UTF-8">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/css/team.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div id="küpng">
	<img src="/static/image/team/kü.png" alt="Smiley face" height="420" width="420">

    </div>


</body>
</html>





{% endblock body %}








